@media (min-width: 320px) and (max-width: 479px) {
  header, .wrapper1, main, .center, .logos, .bottom, footer {
    width: 95%;
  }

  header {
    max-height: 13.4rem;
  }

  .header-wrapper {
    max-height: 32.6rem;
  }

  .header__logo {
    margin-left: 25%;
  }

  .overlay-wrapper {
    max-height: 15rem;
    position: relative;
    background: none;
  }

  /*Dropdown menu*/
  header .menu {
    position: relative;
    margin-top: -149px;
    margin-right: 10%;
    width: 245px;
    height: 100%;
    z-index: 100;
    text-align: center;
    background: rgba(43, 34, 49, 0.8);
    border-radius: 10px;
    border: 1px solid #0f1a20;
    visibility: hidden;
    overflow: hidden;
  }
  header .menu:hover {
    visibility: visible;
  }


  header .menu__item {
    display: block;
    border-top: 1px solid #523e5a;
    border-bottom: 1px solid #36283e;
    padding-right: 0;
    overflow: hidden;
  }

  header .menu__link:hover {
    background: rgba(43, 34, 49, 0.9);
    border-bottom: 2px solid #edbfff;
  }

  .menu__link-visible {
    position: static;
    visibility: visible;
  }

  .overlay-text {
    max-width: 23rem;
    max-height: 4.7rem;
    overflow: hidden;
    position: absolute;
    z-index: 2;
    top: 5.6rem;
    left: 2.6rem;
  }

  .overlay-text p:first-child {
    margin: 0 0 -0.3125rem 0;
    font-size: 36px;
  }

  .overlay-text p:nth-child(2) {
    font-size: 17px;
  }

  .overlay-text p:last-child {
    display: none;
  }

  .arrow_left {
    left: -3.6rem;
    top: 6.5rem;
  }

  .arrow_right {
    left: 25rem;
    top: 6.5rem;
  }

  .phone {
    display: none;
  }
  .main-wrapper {
    height: 37.38rem;
    z-index: 2;
  }
  .dial, .music {
    display: none;
  }

  .key {
    width: 95%;
    max-width: 16.13rem;
    max-height: 6.625rem;
    overflow: hidden;
    margin: 72px 0 30px 13px;
  }

  .key__hidden {
    display: block;
  }
  .key h2 {
    font-size: 24px;
    margin-bottom: 0px;
  }

  .key p {
    font-size: 15px;
  }

  .key__hidden {
    margin-top: 1.438rem;
  }

  .key a {
    margin: 0.125rem 0 0 23.56rem;
  }

  .center-wrapper {
    height: 50.2rem;
  }

  .center__white {
    max-width: 11.88rem;
    min-height: 14rem;
    overflow: hidden;
  }

  .center__white h2 {
    font-size: 24px;
    width: 6.063rem;
  }

  .center__left {
    width: 92%;
    margin: 4rem 0 0 1.188rem;
  }

  .center__right {
    width: 85%;
    margin: 5.5rem 2.688rem 0 1.688rem;
    max-width: 20rem;
    overflow: hidden;
  }

  article {
    width: 23rem;
  }

  .logos {
    max-width: 15.25rem;
    overflow: hidden;
  }

  .logos-wrapper {
    height: 26.3rem;
  }

  .logos__mobile {
    display: inline-block;
    margin: 3.4rem 0 0 -16.3rem;
  }
  .logos__mobile1 {
    display: inline-block;
    margin: 2.3rem 0 0 -32.1rem;
  }

  .bottom-wrapper {
    display: none;
  }

  .footer-wrapper {
    height: 12.5rem;
  }

  .footer__menu {
    display: none;
  }

  .footer__design {
    height: 2rem;
    width: 9rem;
    margin: -0.6rem 5.7rem 0 8.688rem;
    font-size: 12px;
  }
}
