* {
  padding: 0;
  margin: 0;
}

.wrapper {
    background-color: white;
    width: 1200px;
    margin-left: 150px;
}

.content {
  margin-left: 50px;
  margin-right: 50px;
  width: 1100px;
}

.logo {
    width: 300px;
    line-height: 50px;
    font-size: 74px;
    font-family: Calibri;
    margin: 62px 0 48px 0;
    color: #444444;
}

header {
    background-color: #5c5d60;
}

.header {
    display: inline-block;
    width: 162px;
    height: 50px;
    margin: auto;
    text-align: center;
    line-height: 50px;
    color: white;
    font-family: Calibri;
    font-size: 22px;
}

.goods:hover {
      background-color: #393a3d;
      border-left: 1px solid white;
      border-right: 1px solid white;
      width: 140px;
}

.chosen {

}

footer {
  width:1100px;
  height: 50px;
  background-color: lightgrey;

}
.footer {
  display: inline-block;;
  width: 160px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  background-color: lightgrey;
  font-size: 20px;
  font-family: Calibri;
  color: #444444;
}

.copy {
  width: 430px;
  display: inline-block;
  text-align: right;
  padding-right: 30px;

}

.left_menu {
    color: black;
    margin: 50px 20px 0 0;
    display: inline-block;
    vertical-align: top;
    color: #444444;
    font-family: Calibri;
}

.leftmenu {
  list-style: none;
  border-left: 1px solid lightgrey;
  border-right: 1px solid lightgrey;
  border-top: 1px solid lightgrey;
  width: 250px;
  vertical-align: middle;
  text-align: left;
  padding: 10px 0px 10px 30px;
  margin-left: 0px;
}

.chosen:hover {
    padding-left: 45px;
    color: black;
    width: auto;
    background-color: #dbdde0;
}

.image {
  display: inline-block;
  margin: 50px 0 0 30px;

}

img {

  width: 759px;
  display: inline-block;
  border: 1px solid lightgrey;
}

.text {
    width: 700px;
    margin: 50px 30px 55px 375px;
    font-family: Calibri;
    color: #444444;

}


.name {
  display: inline-block;

}

.model {
  width: 500px;
  text-align: left;
  margin-left: 380px;
  margin-bottom: 50px;
  padding: 5px;
  line-height: 25px;


}




.botborder {
  border-bottom: 1px solid lightgrey;

}
