@import url("https://fonts.googleapis.com/css?family=Cookie");
@import url("https://fonts.googleapis.com/css?family=PT+Sans+Caption");
* {
  margin: 0;
  padding: 0;
}

html {
  color: black;
  overflow-x: hidden;
}

a {
  color: white;
  text-decoration: none;
}

li {
  list-style: none;
}

.typical-btn {
  height: 33px;
  border-radius: 20px;
  line-height: 33px;
  text-align: center;
  color: white;
  background-color: #E30000;
  font-weight: bold;
}

.header-wrapper__booking-section {
  width: 1000px;
  height: 500px;
  position: absolute;
  top: 100px;
  background-color: #fff;
  border-radius: 20px;
  z-index: 1;
  box-shadow: 2px 2px 0 4px #000;
  text-align: center;
  font-family: "PT Sans Caption", sans-serif;
  display: none;
}

.booking-section__heading {
  display: block;
  margin: 10px;
  color: #964B00;
}

.booking-section__close-btn {
  position: absolute;
  display: block;
  top: 15px;
  right: 15px;
  width: 20px;
  height: 20px;
  z-index: 1;
  background-image: url("../img/header/cancel-black.svg");
  background-repeat: no-repeat;
  transition: transform .5s;
}

.booking-section__close-btn:hover {
  background-image: url("../img/header/cancel-hover.svg");
  cursor: pointer;
  transform: rotate(90deg);
}

.booking-section__info-block {
  width: 30%;
  height: 80%;
  float: left;
}

.booking-section__table-block {
  width: 70%;
  height: 80%;
  float: left;
  border-radius: 10px;
}

.info-block__heading {
  display: block;
  color: #964B00;
  margin: 10px;
}

.info-block__people-amount {
  width: 100px;
  height: 32px;
  border-radius: 10px;
  border: 2px solid #964B00;
  font-size: 15px;
  float: left;
  margin: 15px 15px 15px 20px;
  font-family: "PT Sans Caption", sans-serif;
}

.info-block__date-btn {
  display: block;
  width: 90px;
  float: left;
  height: 28px;
  border-radius: 10px;
  border: 2px solid #964B00;
  font-size: 15px;
  line-height: 28px;
  margin: 15px;
}

.info-block__date-btn:hover {
  cursor: pointer;
  background-color: #E30000;
  color: white;
}

.info-block__select-time {
  width: 80%;
  text-indent: 15px;
  font-size: 15px;
  font-family: "PT Sans Caption", sans-serif;
}

.info-block__select-time::-webkit-scrollbar {
  width: 1em;
}

.info-block__select-time::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px #964B00;
}

.info-block__select-time::-webkit-scrollbar-thumb {
  background-color: #964B00;
  outline: 1px solid #964B00;
}

.info-block__select-time option:hover {
  background-color: #964B00;
  color: #fff;
  cursor: pointer;
}

.info-block__submit-booking {
  width: 80%;
  margin: auto;
  margin-top: 20px;
}

.info-block__submit-booking:hover {
  cursor: pointer;
  opacity: .5;
}

.table-block__heading {
  display: block;
  margin: 10px;
  color: #964B00;
}

.table-block__table-scheme {
  width: 95%;
  height: 90%;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-wrap: wrap;
  margin: 5px auto;
  border: 2px solid #666;
  justify-content: space-between;
  align-content: space-between;
}

.table-scheme__table {
  width: 75px;
  height: 75px;
  background-color: lightgrey;
  margin: 10px;
  position: relative;
}

.table-scheme__table:hover {
  cursor: pointer;
}

.table-scheme__table-number {
  text-align: center;
  line-height: 75px;
}

.table-scheme__table_table1 {
  width: 400px;
}

.table-scheme__table_table2 {
  width: 150px;
}

.table-scheme__table_table3 {
  height: 150px;
}

.table-scheme__table_table4,
.table-scheme__table_table5 {
  width: 150px;
  height: 100px;
  margin-top: 30px;
}

.table-scheme__table_table6 {
  height: 150px;
  margin-left: 51px;
}

.table-scheme__table_table7,
.table-scheme__table_table8,
.table-scheme__table_table9,
.table-scheme__table_table10 {
  margin-left: 30px;
  border-radius: 50%;
}
.contacts-block {
  width: 100%;
  height: 600px;
  overflow: hidden;
  margin-top: 10px;
}

.contacts-block__heading {
  display: block;
  font-family: "Cookie", cursive;
  font-size: 80px;
  text-align: center;
  position: relative;
  margin-bottom: 10px;
  color: black;
}

.contacts-block__heading::after {
  position: absolute;
  content: "";
  width: 180px;
  height: 2px;
  bottom: 10px;
  margin-left: -272px;
  background-color: #964B00;
}

#contacts-block__google-map {
  width: 100%;
  height: 80%;
  background-color: grey;
}

@media only screen and (min-width: 320px) and (max-width: 479px) {
  .contacts-block {
    height: 590px;
  }

  .contacts-block__heading {
    font-size: 50px;
  }

  .contacts-block__heading::after {
    width: 160px;
    bottom: 0;
    margin-left: -200px;
  }

  #contacts-block__google-map {
    height: 90%;
  }
}
body::-webkit-scrollbar {
  width: 1em;
}

body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px #964B00;
}

body::-webkit-scrollbar-thumb {
  background-color: #964B00;
  outline: 1px solid #964B00;
}

.our-events {
  width: 100%;
  height: 700px;
}

.our-events__wrapper {
  width: 96%;
  margin: 0 auto;
}

.our-events__heading {
  display: block;
  font-family: "Cookie", cursive;
  font-size: 80px;
  text-align: center;
  position: relative;
  margin: 10px 0;
  color: black;
}

.our-events__heading::after {
  position: absolute;
  content: "";
  width: 200px;
  height: 2px;
  bottom: 10px;
  margin-left: -275px;
  background-color: #964B00;
}

.our-events__tabs {
  height: 100px;
  position: relative;
}

.tab__content {
  height: 500px;
  margin-top: 10px;
  padding: 5px;
  border: 2px solid red;
  border: 2px solid lightgrey;
  box-shadow: 2px 6px 6px 2px lightgrey;
}

.tabs-heading {
  display: inline-block;
  width: 150px;
  height: 50px;
  border-radius: 5px;
  font-size: 30px;
  font-family: "Cookie", cursive;
  text-align: center;
}

.tabs-heading:hover {
  background-color: #964B00;
}

.news-content,
.event-content {
  padding: 10px 0;
  width: 100%;
  height: 100%;
  display: block;
}

.news-content {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  padding: 0;
  overflow-y: scroll;
  text-align: center;
}

.news-content::-webkit-scrollbar {
  width: 1em;
  margin-right: 10px;
}

.news-content::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.news-content::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}

.news-content__block {
  width: 45%;
  min-width: 490px;
  height: 220px;
  display: inline-block;
  padding: 10px;
  font-family: "PT Sans Caption", sans-serif;
  margin: 10px 10px 10px 30px;
  position: relative;
  z-index: 1;
  text-align: left;
}

.news-content__block:hover {
  cursor: pointer;
  transform: scale(1.1);
  transition: ease-in .2s;
  background-color: #fff;
  z-index: 10;
  box-shadow: 2px 2px 4px 2px #666;
}

.news-block__img {
  display: block;
  float: left;
  width: 200px;
  height: 200px;
  margin-right: 10px;
}

.news-block__head {
  display: block;
  float: left;
  width: 45%;
  font-size: 18px;
  color: #964B00;
  margin: 5px 0;
}

.news-block__text {
  margin-bottom: 10px;
  width: 57%;
  float: left;
}

.news-block__text-preview {
  max-height: 83px;
  overflow: hidden;
}

.news-block__posted {
  width: 200px;
  position: absolute;
  bottom: 10px;
  left: 220px;
  color: #666;
  font-size: 16px;
}

.new-icon {
  position: absolute;
  top: 0;
  right: 0;
}

.news-block__read-more {
  display: block;
  margin-top: 15px;
  color: #964B00;
}

.news-block__read-more:hover {
  color: red;
  cursor: pointer;
}

.event-content {
  display: block;
  margin-top: 10px;
  height: 80%;
}

.event-content__section {
  height: 100%;
  margin-top: 30px;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.event-content__section::-webkit-scrollbar {
  width: 1em;
  margin-right: 10px;
}

.event-content__section::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.event-content__section::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}

.event-filter {
  display: inline-block;
  color: black;
  padding: 10px 10px 0 20px;
}

.event-filter__link {
  color: black;
  padding: 10px;
  font-family: "PT Sans Caption", sans-serif;
  font-weight: bold;
}

.event-filter__link:hover {
  border-bottom: 2px solid red;
}

.filter-all {
  border-bottom: 1px solid red;
}

.event-content__block {
  width: 430px;
  height: 300px;
  position: relative;
  float: left;
  margin: 20px 10px 0 10px;
  overflow: hidden;
}

.event-block:hover {
  transform: scale(1.1);
  box-shadow: 2px 2px 6px #000;
}

.event-block__img_mobile {
  display: none;
}

.event-block__desc {
  display: inline-block;
  position: absolute;
  background-color: #fff;
  color: black;
  text-align: center;
  bottom: -4px;
  font-family: "PT Sans Caption", sans-serif;
  font-size: 24px;
  width: 100%;
  height: 65px;
  overflow: hidden;
}

.event-block__desc:hover {
  color: #964B00;
  cursor: pointer;
}

.event-content__full-schedule {
  color: #666;
  font-size: 16px;
  cursor: pointer;
}

.red {
  color: red;
}

.tab-news__heading,
.tab-events__heading {
  display: block;
  height: 100%;
  line-height: 50px;
  color: black;
}

.tab-news__heading:hover,
.tab-events__heading:hover {
  color: white;
}

.news-content,
.event-content {
  display: none;
  overflow-y: scroll;
  height: 90%;
}

.tab-active {
  background-color: #964B00;
  color: white;
  border-radius: 5px;
}

.show-content {
  display: block;
}

.hide {
  display: none;
}

@media only screen and (min-width: 480px) and (max-width: 768px) {
  .news-content__block {
    width: 97%;
    min-width: 420px;
    max-height: 210px;
    overflow: hidden;
    padding: 0;
    margin-left: 5px;
    margin-right: 5px;
  }

  .news-content__block:hover {
    transform: scale(1);
  }

  .news-block__text {
    width: 50%;
  }

  .news-block__posted {
    left: 210px;
  }

  .our-events__wrapper {
    width: 96%;
  }

  .event-content__block {
    width: 320px;
    height: 237px;
    margin-left: 5px;
    margin-right: 5px;
  }

  .event-block__img {
    display: none;
  }

  .event-block__img_mobile {
    display: block;
  }

  .event-block__desc {
    font-size: 19px;
    bottom: 0;
  }
}

@media only screen and (min-width: 320px) and (max-width: 479px) {
  .our-events {
    height: 850px;
  }

  .our-events__heading {
    font-size: 50px;
    margin: 10px 0 15px;
  }

  .our-events__heading::after {
    width: 130px;
    bottom: 0;
    margin-left: -170px;
  }

  .tab__content {
    height: 700px;
  }

  .event-content,
  .news-content {
    height: 98%;
    overflow-y: scroll;
  }

  .news-content__block {
    width: 97%;
    min-width: 0;
    height: 200px;
    padding: 0;
    margin-left: 5px;
    margin-right: 5px;
  }

  .news-content__block:hover {
    transform: scale(1);
  }

  .news-content__block:not(:last-child) {
    border-bottom: 2px dashed #964B00;
  }

  .news-block__head {
    width: 100%;
    float: none;
  }

  .news-block__text {
    width: 90%;
  }

  .news-block__posted {
    left: 0px;
  }

  .news-block__img {
    display: none;
  }

  .our-events__wrapper {
    width: 96%;
  }

  .event-content__block {
    width: 320px;
    height: 237px;
    margin: 10px 5px;
  }

  .event-block__img {
    display: none;
  }

  .event-block__img_mobile {
    display: block;
  }

  .event-block__desc {
    font-size: 18px;
    bottom: 0;
  }
}
.footer {
  width: 100%;
  height: 150px;
  background: url("../img/footer/pasta-tomato-footer.jpg") 0 0 no-repeat;
  background-size: cover;
  font-family: "PT Sans Caption", sans-serif;
}

.footer-wrapper {
  position: relative;
  background-color: rgba(122, 122, 122, 0.5);
  width: 90%;
  color: black;
  margin: 0 auto;
  height: 100%;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.footer__heading {
  margin-bottom: 10px;
  color: black;
}

.contacts__street:hover,
.contacts__phone:hover,
.contacts__email:hover {
  color: black;
}

.footer__copy {
  display: block;
  width: 20%;
}

.social-media {
  font-style: "PT Sans Caption", sans-serif;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: inline-block;
  margin-right: 10px;
}

.social-media__facebook {
  background: url("../img/footer/facebook.svg");
}

.social-media__facebook:hover {
  background: url("../img/footer/facebook-hover.svg");
}

.social-media__vkontakte {
  background: url("../img/footer/vk.svg");
}

.social-media__vkontakte:hover {
  background: url("../img/footer/vk-hover.svg");
}

.social-media__instagram {
  background: url("../img/footer/instagram.svg");
  background-color: #fff;
}

.social-media__instagram:hover {
  background: url("../img/footer/instagram-hover.svg");
  background-color: #6A453B;
}

.social-media__pinterest {
  background: url("../img/footer/pinterest.svg");
}

.social-media__pinterest:hover {
  background: url("../img/footer/pinterest-hover.svg");
}

.app-link__apple {
  background: url("../img/footer/apple.svg");
}

.app-link__android {
  background: url("../img/footer/android.svg");
}

@media only screen and (min-width: 480px) and (max-width: 768px) {
  .footer {
    height: 250px;
  }

  .footer-wrapper {
    width: 95%;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
  }

  .footer__contacts {
    float: left;
    margin: 10px 10px 0 0;
  }

  .footer__social-media {
    float: left;
    margin: 0 10px;
    margin-top: 10px;
  }

  .footer__app-link {
    float: left;
    margin: 10px 5px 0;
  }

  .footer__copy {
    width: 100%;
    display: block;
    clear: both;
    text-align: center;
    margin: 0 auto;
  }
}

@media only screen and (min-width: 320px) and (max-width: 480px) {
  .footer {
    height: 380px;
  }

  .footer-wrapper {
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
  }

  .footer__contacts {
    float: left;
    margin: 10px 10px 0 0;
    text-align: center;
  }

  .footer__social-media {
    float: left;
    margin: 16px 10px 10px;
    margin-top: 10px;
    text-align: center;
  }

  .footer__app-link {
    float: left;
    margin: 10px 5px 8px;
    text-align: center;
  }

  .footer__copy {
    width: 100%;
    display: block;
    clear: both;
    text-align: center;
    margin: 10px auto;
  }
}
span.highlight {
  background-color: yellow;
  cursor: pointer;
}

span.splink {
  color: #0A5794;
  cursor: pointer;
}

.header {
  width: 100%;
  color: #964B00;
  height: 76px;
  font-family: "PT Sans Caption", sans-serif;
}

.header-wrapper {
  width: 95%;
  height: 100%;
  margin: 0 auto;
  position: relative;
}

.header-wrapper__btns-section {
  float: right;
  position: relative;
  margin-top: 30px;
  width: 175px;
}

.header-wrapper__search-section {
  float: right;
  margin-top: 30px;
}

.header-wrapper__logged-user-section {
  display: none;
  width: 60px;
  height: 65px;
  float: right;
  margin-top: 10px;
}

.header-wrapper__logged-user-section:hover {
  cursor: pointer;
}

.menu-top {
  height: 35px;
  float: left;
  padding: 30px 0 10px 0;
  font-weight: bold;
  line-height: 35px;
  text-align: center;
}

.menu-top__menu-item {
  position: relative;
  float: left;
  padding-right: 20px;
  padding-left: 20px;
}

.menu-top__menu-link {
  color: #666666;
}

.menu-top__menu-link-underline {
  color: #666666;
}

.menu-top__menu-link-underline:hover {
  color: #964B00;
}

.menu-top__vertical-line {
  height: 20px;
  width: 1px;
  display: inline-block;
  float: left;
  margin-top: 8px;
  background-color: #964B00;
}

.menu-top__menu-link::after {
  content: "";
  height: 2px;
  display: block;
  margin: auto;
  background-color: #fff;
  width: 0;
}

.menu-top__menu-link:hover::after {
  width: 100%;
  background-color: #964B00;
  -webkit-transition: width .8s ease-in-out, background-color .8s ease;
  transition: width .8s ease-in-out, background-color .8s ease;
}

.mobile-menu {
  display: none;
}

/*submenu*/

.menu__submenu-style {
  width: 195px;
  position: absolute;
  display: none;
  left: 2px;
  top: 36px;
  z-index: 1;
  border-radius: 20px;
  overflow: hidden;
  background-color: rgba(150, 75, 0, 0.4);
  text-align: left;
  text-indent: 10px;
  transition: all 0.3s ease-in-out 0s;
}

.menu-top__menu-item:hover .menu__submenu_hover {
  display: block;
}

.menu-top__submenu-contacts {
  width: 195px;
  display: none;
  position: absolute;
  left: 2px;
  top: 36px;
  border-radius: 20px;
  overflow: hidden;
  background-color: rgba(150, 75, 0, 0.4);
}

.submenu__menu-item:hover {
  background-color: rgba(255, 0, 0, 0.5);
}

.submenu__menu-link {
  display: block;
  text-indent: 10px;
}

.join-us__btn,
.booking__btn {
  width: 80px;
  display: inline-block;
  position: absolute;
  height: 33px;
  top: 0;
  left: 0;
}

.join-us__btn:hover,
.booking__btn:hover {
  cursor: pointer;
  opacity: .5;
  margin-top: 3px;
}

.join-us__btn_active,
.booking__btn_active {
  margin-top: 3px;
  background-color: #964B00;
}

.booking__btn {
  left: 85px;
}

/*logged user*/

.logged-user__icon {
  display: block;
  width: 30px;
  margin: 0 auto;
}

.logged-user__greetings {
  display: block;
  text-align: center;
  font-size: 13px;
}

.logged-user__greetings:hover {
  cursor: pointer;
  color: #964B00;
}

/*to top button*/

#to-top-button {
  display: none;
  position: fixed;
  bottom: 50px;
  right: 50px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  z-index: 10;
  background: #666 url("../img/header/to-top-arrow.svg") 10px 10px no-repeat;
}

#to-top-button:hover {
  background-color: #964B00;
}

@media only screen and (min-width: 480px) and (max-width: 768px) {
  .header-wrapper {
    width: 100%;
    padding: 0;
  }

  .header-wrapper__btns-section {
    position: absolute;
    width: 200px;
    right: 10px;
    top: 20px;
  }

  .menu-top {
    width: 100%;
    display: none;
    padding-top: 0;
  }

  .menu-top__menu-item {
    display: block;
    float: none;
    background-color: #fff;
    z-index: 1;
    padding: 0;
  }

  .menu-top__menu-item:not(:last-child) {
    border-bottom: 1px solid #964B00;
  }

  .menu-top__menu-link {
    display: block;
  }

  .menu-top__menu-link::after {
    height: 0;
  }

  .menu-top__active {
    display: block;
  }

  .menu-top__menu-item:hover .menu__submenu_hover {
    display: none;
  }

  .menu__submenu-style {
    border-radius: 0;
  }

  .menu__submenu-show-menu {
    display: block;
    position: static;
    width: 100%;
  }

  .submenu__menu-item:not(:last-child) {
    border-bottom: 1px solid white;
  }

  .mobile-menu {
    display: block;
    width: 100%;
    height: 73px;
    border-bottom: 3px solid #666;
  }

  .mobile-menu__burger {
    display: block;
    float: left;
    width: 76px;
    height: 76px;
    background: url("../img/header/mobile-menu.svg") center center no-repeat;
    transition-duration: 1s;
  }

  .mobile-menu__burger_open {
    background: url("../img/header/close.svg") center center no-repeat;
    width: 30px;
    margin-left: 25px;
    transition-duration: 1s;
    transform: rotate(90deg);
  }

  .join-us__btn {
    width: 100px;
    display: block;
    position: absolute;
    top: -26px;
    right: 0;
    width: 80px;
    height: 33px;
    border-radius: 20px;
    color: white;
    background-color: #E30000;
  }

  .join-us__btn_active {
    margin-top: 3px;
    background-color: #964B00;
  }

  .booking__btn_active {
    margin-top: 3px;
    background-color: #964B00;
  }

  .header-wrapper__registration_show {
    right: 0;
    width: 100%;
  }

  .booking__btn {
    top: -26px;
    left: 90px;
  }
}

@media only screen and (min-width: 320px) and (max-width: 479px) {
  #to-top-button {
    right: 10px;
  }

  .header-wrapper {
    width: 100%;
    padding: 0;
  }

  .header-wrapper__btns-section {
    position: absolute;
    width: 200px;
    right: 10px;
    top: 20px;
  }

  .menu-top {
    width: 100%;
    display: none;
    padding-top: 0;
  }

  .menu-top__menu-item {
    display: block;
    float: none;
    background-color: #fff;
    z-index: 1;
    padding: 0;
  }

  .menu-top__menu-item:not(:last-child) {
    border-bottom: 1px solid #964B00;
  }

  .menu-top__menu-link {
    display: block;
  }

  .menu-top__menu-link::after {
    height: 0;
  }

  .menu-top__active {
    display: block;
  }

  .menu-top__menu-item:hover .menu__submenu_hover {
    display: none;
  }

  .menu__submenu-style {
    border-radius: 0;
  }

  .menu__submenu-show-menu {
    display: block;
    position: static;
    width: 100%;
  }

  .submenu__menu-item:not(:last-child) {
    border-bottom: 1px solid white;
  }

  .mobile-menu {
    display: block;
    width: 100%;
    height: 73px;
    border-bottom: 3px solid #666;
  }

  .mobile-menu__burger {
    display: block;
    float: left;
    width: 76px;
    height: 76px;
    background: url("../img/header/mobile-menu.svg") center center no-repeat;
    transition-duration: 1s;
  }

  .mobile-menu__burger_open {
    background: url("../img/header/close.svg") center center no-repeat;
    width: 30px;
    margin-left: 25px;
    transition-duration: 1s;
    transform: rotate(90deg);
  }

  .join-us__btn {
    width: 100px;
    display: block;
    position: absolute;
    top: -26px;
    right: 0;
    width: 80px;
    height: 33px;
    border-radius: 20px;
    color: white;
    background-color: #E30000;
  }

  .join-us__btn_active {
    margin-top: 3px;
    background-color: #964B00;
  }

  .booking__btn {
    top: -26px;
    left: 90px;
  }

  .booking__btn_active {
    margin-top: 3px;
    background-color: #964B00;
  }

  .menu__submenu-show-menu {
    display: block;
    position: static;
    width: 100%;
  }
}
.our-history {
  height: 500px;
}

.our-history__wrapper {
  width: 90%;
  margin: 0 auto;
  height: 100%;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: center;
  align-items: center;
}

.our-history__description {
  float: left;
  width: 50%;
  text-align: center;
}

.our-history__text {
  font-family: "PT Sans Caption", sans-serif;
  font-size: 23px;
  margin-bottom: 25px;
}

.our-history__heading {
  font-family: "Cookie", cursive;
  font-size: 80px;
  margin-bottom: 15px;
}

.our-history__photos {
  width: 50%;
  text-align: center;
}

.our-history__image {
  width: 300px;
}

.our-history__about {
  font-family: "PT Sans Caption", sans-serif;
  text-transform: uppercase;
  color: #964B00;
  text-decoration: underline;
  font-size: 18px;
}

@media only screen and (min-width: 480px) and (max-width: 768px) {
  .our-history {
    height: 550px;
    margin: 20px auto;
  }

  .our-history__wrapper {
    flex-direction: column;
  }

  .our-history__description {
    width: 90%;
    margin-bottom: 30px;
  }

  .our-history__photos {
    display: block;
    width: 100%;
  }

  .our-history__image:last-child {
    display: none;
  }
}

@media only screen and (min-width: 320px) and (max-width: 479px) {
  .our-history {
    height: 550px;
  }

  .our-history__wrapper {
    flex-direction: column;
  }

  .our-history__description {
    width: 90%;
    margin-bottom: 30px;
  }

  .our-history__photos {
    display: block;
    width: 100%;
  }

  .our-history__image:last-child {
    display: none;
  }

  .our-history__heading {
    font-size: 50px;
  }
}
.homepage-hero-module {
  border-right: none;
  border-left: none;
  position: relative;
}

.no-video .video-container video,
.touch .video-container video {
  display: none;
}

.no-video .video-container .poster,
.touch .video-container .poster {
  display: block !important;
}

.video-container {
  position: relative;
  bottom: 0%;
  left: 0%;
  height: 100%;
  width: 100%;
  overflow: hidden;
  background: #000;
}

.video-container .poster img {
  width: 100%;
  bottom: 0;
  position: absolute;
}

.video-container .filter {
  z-index: 100;
  position: absolute;
  background: rgba(0, 0, 0, 0.4);
  width: 100%;
}

.video-container video {
  position: absolute;
  z-index: 0;
  bottom: 0;
}

.video-container video.fillWidth {
  width: 100%;
}
.video-block {
  position: relative;
  width: 100%;
  height: 31.25rem;
}

.video-block__container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  background: #000;
}

.video-block__video {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.video-block__overlay {
  color: #fff;
  font-family: 'Oxygen', sans-serif;
  position: absolute;
  bottom: 0%;
  left: 50%;
  width: 100%;
  max-width: 45em;
  box-sizing: border-box;
  padding: 2em;
  line-height: 1.5;
  text-align: center;
  transform: translateX(-50%);
  background-color: rgba(122, 122, 122, 0.4);
}

.overlay__slogan {
  position: absolute;
  top: 200px;
  left: 47.3%;
  width: 700px;
  z-index: 1;
  color: white;
  padding: 5px;
}

.overlay__slogan_heading {
  font-family: "Cookie", cursive;
  font-size: 80px;
  color: white;
}

.overlay__slogan_passion {
  font-size: 30px;
  margin-bottom: 10px;
}

.overlay__slogan_passion::before {
  content: url("../img/header/two-quotes.svg");
}

.overlay__slogan_passion::after {
  content: url("../img/header/two-quotes.svg");
}

@media only screen and (min-width: 480px) and (max-width: 768px) {
  .video-block__overlay {
    width: 80%;
  }

  .overlay__slogan_heading {
    font-size: 50px;
  }

  .overlay__slogan_passion {
    font-size: 23px;
  }
}

@media only screen and (min-width: 320px) and (max-width: 479px) {
  .video-block__overlay {
    width: 100%;
    height: 25%;
    bottom: 0;
    top: 0;
    padding: 5px;
    margin: auto;
  }

  .overlay__slogan_heading {
    font-size: 50px;
  }

  .overlay__slogan_passion,
  .overlay__slogan_author {
    display: none;
  }
}
.buy-food-online {
  width: 90%;
  height: 900px;
  margin: 0 auto;
  position: relative;
}

.buy-food-online__hide {
  height: 1px;
  overflow: hidden;
}

.benefit-section {
  width: 100%;
  height: 50px;
  margin: 10px 0 20px 0;
  box-shadow: 2px 2px 6px 6px lightgrey;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: center;
}

.benefit-section__benefit1,
.benefit-section__benefit2,
.benefit-section__benefit3,
.benefit-section__benefit4 {
  width: 25%;
  height: 100%;
  display: block;
  color: black;
  line-height: 50px;
  text-align: center;
}

.benefit1__title {
  height: 100%;
}

/*aside*/

.buy-food-online__sidebar {
  width: 25%;
  float: left;
  margin-right: 20px;
}

.buy-food-online__filter-heading {
  width: 100%;
  height: 40px;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  background-color: #964B00;
  justify-content: space-between;
  font-style: 20px;
  color: #fff;
}

#filter-btn-close {
  width: 20%;
  height: 100%;
  background-color: #666;
  line-height: 40px;
  text-align: center;
}

.food-filter__label:before {
  content: "";
  display: inline-block;
  width: 23px;
  height: 23px;
  position: absolute;
  left: -26px;
  bottom: -2px;
  border-radius: 50%;
  border: 3px solid #964B00;
}

.food-filter:checked + .food-filter__label::before {
  content: "";
  background-image: url("../img/menu-filter/checked.svg");
  background-position: 0 0;
  background-repeat: no-repeat;
  position: absolute;
}

.food-filter-radio:checked + .food-filter__label::before {
  content: "\2022";
  color: #964B00;
  font-size: 49px;
  line-height: 18px;
  text-align: center;
}

.filter-group:checked + .filter-group__label,
.filter-group__label:hover,
.food-filter:checked + .food-filter__label,
.food-filter__label:hover {
  color: #743b09;
}

.food-filter__category {
  margin-bottom: 50px;
}

.food-filter__heading {
  margin-bottom: 29px;
}

.food-filter__label {
  margin-bottom: 20px;
}

.filter-btn {
  width: 140px;
  height: 40px;
  color: white;
  background-color: #E30000;
  line-height: 30px;
  font-weight: bold;
  border: none;
  border-radius: 20px;
  font-size: 20px;
}

.filter-btn:hover {
  margin-top: 2px;
  cursor: pointer;
}

.filter-group__label:first-child {
  color: red;
}

.goods-filter__groups label:nth-child(5)::before {
  bottom: -4px;
}

/*food*/

.food-wrapper__result {
  width: 70%;
  float: left;
  text-transform: none;
  font-family: 'montserrat-bold', sans-serif;
  font-weight: bold;
  margin-bottom: 49px;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-wrap: wrap;
}

.food-result {
  width: 30%;
  height: 288px;
  margin: 5px 20px 14px 0;
  box-shadow: -1px 2px 23px rgba(0, 0, 0, 0.44);
}

.food-result:hover {
  transform: scale(1.1);
  z-index: 1;
}

.food-result:nth-child(3n) {
  margin-right: 0;
}

.food-result:nth-child(4) {
  margin-bottom: 43px;
}

.food-result__pic {
  display: block;
  width: 100%;
  height: 165px;
  background-image: url("../img/menu-filter/ice-cream.jpg");
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

.food-result__pic_sorbet {
  background-image: url("../img/menu-filter/sorbet.jpg");
}

.food-result__pic_panna-cotta {
  background-image: url("../img/menu-filter/panna-cotta.jpg");
}

.food-result__pic_creme-brulee {
  background-image: url("../img/menu-filter/creme-brulee.jpg");
}

.food-result__pic_tiramisu {
  background-image: url("../img/menu-filter/tiramisu.jpg");
}

.food-result__pic_tortino {
  background-image: url("../img/menu-filter/tortino.jpg");
}

.food-result__pic_castagnaccio {
  background-image: url("../img/menu-filter/castagnaccio.jpg");
}

.food-result__pic_crostata {
  background-image: url("../img/menu-filter/crostata.jpg");
}

.food-result__pic_semifreddo {
  background-image: url("../img/menu-filter/semifreddo.jpg");
}

.food-result__pic_red-wine {
  background-image: url("../img/menu-filter/red-wine.jpg");
}

.food-result__pic_margherita {
  background-image: url("../img/menu-filter/margherita.jpg");
}

.food-result__pic_napoletana {
  background-image: url("../img/menu-filter/napoletana.jpg");
}

.food-result__pic_verdure {
  background-image: url("../img/menu-filter/verdure.jpg");
}

.food-result__pic_diavola {
  background-image: url("../img/menu-filter/diavola.jpg");
}

.food-result__pic_lasagna {
  background-image: url("../img/menu-filter/lasagna.jpg");
}

.food-result__pic_tortelli {
  background-image: url("../img/menu-filter/tortelli.jpg");
}

.food-result__pic_spaghetti {
  background-image: url("../img/menu-filter/spaghetti.jpg");
}

.food-result__pic_frittura {
  background-image: url("../img/menu-filter/frittura.jpg");
}

.food-result__pic_farro {
  background-image: url("../img/menu-filter/farro.jpg");
}

.food-result__pic_minestrone {
  background-image: url("../img/menu-filter/minestrone.jpg");
}

.food-result__pic_zuppa-di-pesce {
  background-image: url("../img/menu-filter/zuppa-di-pesce.jpg");
}

.food-result__pic_americano {
  background-image: url("../img/menu-filter/americano.jpeg");
}

.food-result__pic_spritz-royal {
  background-image: url("../img/menu-filter/spritz-royal.jpg");
}

.food-result__pic_negroni {
  background-image: url("../img/menu-filter/negroni.jpg");
}

.food-result__name {
  font-size: 18px;
  margin: 10px 0 10px 15px;
}

.food-result__name:hover {
  color: #964B00;
}

.food-result__desc {
  font-size: 12px;
  margin: 0 0 9px 15px;
  height: 28px;
  max-height: 28px;
  overflow: hidden;
}

.food-result__desc:hover {
  color: #964B00;
}

.food-result__buy,
.food-result__price {
  float: left;
  display: block;
}

.food-result__price {
  width: 24%;
  height: 30px;
  margin-left: 18px;
  background-color: #fff;
  border: 2px solid #964B00;
  font-size: 13px;
  text-transform: uppercase;
  text-align: center;
  line-height: 30px;
}

.food-result__buy {
  width: 54%;
  height: 34px;
  padding-left: 0;
  background-color: #964B00;
  color: white;
  border: none;
}

.food-result__buy:hover {
  opacity: .5;
  cursor: pointer;
}

.goods-wrapper__pagination {
  clear: both;
  margin-left: 1px;
}

.btn-pagination {
  display: inline-block;
  width: 43px;
  height: 43px;
  margin-right: 4px;
  text-align: center;
  background-color: black;
  color: white;
  line-height: 43px;
}

.btn-pagination:nth-child(3) {
  margin-right: 3px;
}

.goods-wrapper__pagination .btn-pagination {
  color: white;
  font-size: 13px;
}

.goods-wrapper__pagination .btn-pagination__active {
  background-color: #fff;
  color: black;
}

.btn-pagination:not(.btn-pagination__active):hover {
  background-color: #743b09;
  color: white;
}
.our-menu {
  width: 100%;
  height: 660px;
  position: relative;
  margin-bottom: 90px;
  font-family: 'PT Sans Caption', sans-serif;
}

.our-menu__heading {
  display: block;
  font-family: "Cookie", cursive;
  font-size: 80px;
  text-align: center;
  position: relative;
  margin-bottom: 10px;
  color: black;
}

.our-menu__heading::after {
  position: absolute;
  content: "";
  width: 120px;
  height: 2px;
  bottom: 10px;
  margin-left: -175px;
  background-color: #964B00;
}

.our-menu__full-menu {
  width: 190px;
  height: 30px;
  display: block;
  position: absolute;
  top: 33px;
  right: 0;
}

.our-menu__full-menu:hover {
  cursor: pointer;
  opacity: .5;
  margin-top: 3px;
}

.our-menu__wrapper {
  height: 85%;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
}

.our-menu__variant {
  height: 100%;
  width: 25%;
  background-image: url("../img/menu/appetizer.jpg");
  background-size: cover;
  position: relative;
  cursor: pointer;
}

.our-menu__variant:hover {
  transform: scale(1.1);
  transition: ease-in .5s;
  z-index: 1;
}

.our-menu__variant:hover .our-menu__desc {
  background-color: rgba(122, 122, 122, 0.5);
  height: 100%;
}

.our-menu__variant:hover .our-menu__title {
  transform: translateY(200px);
  transition: ease-in .2s;
  bottom: 10px;
}

.our-menu__variant:hover .our-menu__separate-menu {
  display: inline-block;
}

.our-menu__separate-menu {
  position: absolute;
  top: 80%;
  left: 0;
  right: 0;
  width: 160px;
  margin: auto;
  display: none;
}

.our-menu__separate-menu:hover {
  cursor: pointer;
  margin-top: 3px;
}

.our-menu__desc {
  width: 100%;
  height: 50px;
  background-color: rgba(122, 122, 122, 0.5);
  position: absolute;
  bottom: 0;
  color: white;
  font-size: 20px;
  text-align: center;
  line-height: 50px;
}

.menu__pasta {
  background-image: url("../img/menu/pasta.jpg");
}

.menu__pizza {
  background-image: url("../img/menu/pizza.jpg");
}

.menu__dessert {
  background-image: url("../img/menu/dessert.jpg");
}

.hide-food-online-btn {
  display: block;
  float: left;
  margin-top: 20px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  z-index: 10;
  background: #666 url("../img/header/to-top-arrow.svg") 10px 10px no-repeat;
  transform: rotate(90deg);
}

.hide-food-online-btn:hover {
  background-color: #964B00;
}

.hide-food-online-btn_animate {
  transform: rotate(0deg);
  transition: .5s;
}

.food-online-heading {
  width: 400px;
  height: 50px;
  display: block;
  float: left;
  margin-top: 20px;
  text-align: center;
  font-size: 20px;
  line-height: 50px;
}

@media only screen and (min-width: 480px) and (max-width: 768px) {
  .our-menu {
    height: 500px;
    margin-bottom: 10px;
  }

  .our-menu__full-menu {
    top: 64px;
    width: 26%;
    font-size: 12px;
  }

  .our-menu__wrapper {
    height: 64%;
  }

  .our-menu__title {
    vertical-align: middle;
    font-size: 16px;
  }

  .our-menu__desc {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 22px;
  }

  .our-menu__variant:hover .our-menu__title {
    transform: translateY(60px);
  }

  .our-menu__separate-menu {
    font-size: 12px;
    width: 113px;
  }
}

@media only screen and (min-width: 320px) and (max-width: 479px) {
  .our-menu {
    height: 780px;
    margin-bottom: 10px;
  }

  .our-menu__full-menu {
    top: 700px;
    left: 20px;
    width: 90%;
    font-size: 16px;
  }

  .our-menu__wrapper {
    flex-wrap: wrap;
    height: 80%;
  }

  .our-menu__heading {
    margin-top: 10px;
    font-size: 50px;
  }

  .our-menu__heading::after {
    width: 90px;
    bottom: 0;
    margin-left: -120px;
  }

  .our-menu__title {
    vertical-align: middle;
    font-size: 16px;
  }

  .our-menu__desc {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 22px;
  }

  .our-menu__variant {
    width: 50%;
    height: 50%;
  }

  .our-menu__variant:hover .our-menu__title {
    transform: translateY(60px);
  }

  .our-menu__separate-menu {
    font-size: 13px;
  }

  .food-online-heading {
    width: 50%;
    height: 60px;
    float: left;
    margin-top: 50px;
    line-height: 16px;
    font-size: 18px;
  }

  .hide-food-online-btn {
    margin-top: 50px;
  }
}
.header-wrapper__registration {
  display: none;
  position: absolute;
  right: 123px;
  top: 76px;
  width: 300px;
  height: 60px;
  background-color: #fff;
  border-radius: 20px;
  z-index: 1;
  background-color: rgba(122, 122, 122, 0.7);
}

.header-wrapper__registration_show {
  display: block;
}

.registration__form-tabs {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  position: relative;
  margin: 6px 0 13px 0;
}

.registration__close-btn {
  position: absolute;
  display: block;
  top: 20px;
  right: 5px;
  width: 20px;
  height: 20px;
  z-index: 1;
  background-image: url("../img/header/cancel.svg");
  background-repeat: no-repeat;
  transition: transform .5s;
}

.registration__close-btn:hover {
  background-image: url("../img/header/cancel-hover.svg");
  cursor: pointer;
  transform: rotate(90deg);
}

.user-form-switch__new,
.user-form-switch__existing {
  display: block;
  color: #fff;
  font-family: "PT Sans Caption", sans-serif;
  font-size: 19px;
  margin: 10px 15px;
}

.user-form-switch__new:hover,
.user-form-switch__existing:hover {
  color: #E30000;
}

.user-form-switch__new_active,
.user-form-switch__existing_active {
  color: black;
  font-weight: bold;
}

.registration-form__field {
  width: 70%;
  display: block;
  float: left;
  height: 30px;
  border: 2px solid #964B00;
  text-indent: 10px;
  font-size: 17px;
  margin-bottom: 20px;
}

.registration__signup-form {
  height: 250px;
  text-align: left;
  display: none;
  background-color: rgba(122, 122, 122, 0.7);
  padding: 15px 10px;
  border-radius: 20px;
}

.signup-form__label {
  display: block;
  float: left;
  margin-left: 10px;
  width: 34px;
  height: 34px;
  background-color: #964B00;
  position: relative;
}

.signup-form__button {
  display: block;
  width: 50%;
  height: 30px;
  color: #fff;
  font-weight: bold;
  font-family: "PT Sans Caption", sans-serif;
  background-color: #E30000;
  border-radius: 20px;
  margin-left: 10px;
}

.signup-form__button:hover {
  cursor: pointer;
  margin-top: 3px;
}

.registration__icon {
  position: absolute;
  top: 7px;
  left: 8px;
}

.registration__login-form {
  display: none;
  height: 150px;
  padding: 15px 10px;
  background-color: rgba(122, 122, 122, 0.7);
  border-radius: 20px;
}

.login-form__label {
  display: block;
  float: left;
  margin-left: 10px;
  width: 34px;
  height: 34px;
  background-color: #964B00;
  position: relative;
}

.login-form__pass-field {
  width: 70%;
  display: block;
  float: left;
  height: 30px;
  border: 2px solid #964B00;
  text-indent: 10px;
  font-size: 17px;
  margin-bottom: 10px;
}

.login-form__name-field {
  width: 70%;
  height: 20px;
  float: left;
  height: 30px;
  border: 2px solid #964B00;
  text-indent: 10px;
  font-size: 17px;
  margin-bottom: 15px;
}

.login-form__button {
  display: block;
  float: left;
  width: 50%;
  height: 30px;
  color: #fff;
  font-weight: bold;
  font-family: "PT Sans Caption", sans-serif;
  background-color: #E30000;
  border-radius: 20px;
  margin-left: 10px;
}

.login-form__button:hover {
  cursor: pointer;
  margin-top: 3px;
}

.login-form__label-remember {
  margin-left: 10px;
  color: #fff;
}

.login-form__label-remember:hover {
  color: blue;
  cursor: pointer;
}

.login-form__forgot-pass {
  display: block;
  float: right;
  font-size: 12px;
  margin-top: 6px;
}

.login-form__forgot-pass:hover {
  color: blue;
}

#login__remember-me {
  margin: 0 0 17px 10px;
}

.show-user-form {
  display: block;
}

@media only screen and (min-width: 480px) and (max-width: 768px) {
  .header-wrapper__registration_show {
    right: 123px;
    width: 300px;
  }

  .user-form-switch__new:hover,
  .user-form-switch__existing:hover {
    color: white;
  }

  .registration__signup-form {
    width: 280px;
  }
}

@media only screen and (min-width: 320px) and (max-width: 479px) {
  .header-wrapper__registration_show {
    right: 0;
    width: 100%;
  }

  .login-form__wrapper,
  .signup-form__wrapper {
    max-width: 90%;
    margin: 5px auto;
  }

  .registration__signup-form,
  .registration__login-form {
    width: 100%;
    padding: 15px 0;
  }

  .registration__form-tabs {
    width: 100%;
  }

  .registration-form__field {
    width: 80%;
  }
}
.our-services {
  width: 100%;
  height: 650px;
  overflow: hidden;
  margin-top: 10px;
}

.our-services__heading {
  display: block;
  font-family: "Cookie", cursive;
  font-size: 80px;
  text-align: center;
  position: relative;
  margin-bottom: 10px;
  color: black;
}

.our-services__heading::after {
  position: absolute;
  content: "";
  width: 120px;
  height: 2px;
  bottom: 10px;
  margin-left: -150px;
  background-color: #964B00;
}

.our-services__content-block {
  width: 100%;
  height: 85%;
  background-image: url("../img/services/services-bg.jpg");
  background-size: cover;
}

.our-services__wrapper {
  width: 90%;
  margin: 0 auto;
  color: white;
  font-family: "PT Sans Caption", sans-serif;
  background-color: rgba(122, 122, 122, 0.5);
  height: 100%;
}

.our-services__offer-section {
  width: 50%;
  height: 100%;
  float: left;
  padding-top: 50px;
}

.our-services-list__offer:hover {
  color: yellow;
  cursor: pointer;
}

.our-services-list__offer:first-child::before {
  content: url("../img/services/pizza.svg");
  vertical-align: middle;
  vertical-align: -webkit-baseline-middle;
  margin-right: 10px;
}

.our-services-list__offer:nth-child(2)::before {
  content: url("../img/services/chef.svg");
  vertical-align: middle;
  vertical-align: -webkit-baseline-middle;
  margin-right: 10px;
}

.our-services-list__offer:nth-child(3)::before {
  content: url("../img/services/livingroom.svg");
  vertical-align: middle;
  vertical-align: -webkit-baseline-middle;
  margin-right: 10px;
}

.our-services-list__offer:nth-child(4)::before {
  content: url("../img/services/parked-car.svg");
  vertical-align: middle;
  vertical-align: -webkit-baseline-middle;
  margin-right: 10px;
}

.our-services-list__offer:nth-child(5)::before {
  content: url("../img/services/karaoke.svg");
  vertical-align: middle;
  vertical-align: -webkit-baseline-middle;
  margin-right: 10px;
}

.our-services-list__offer:nth-child(6)::before {
  content: url("../img/services/projector.svg");
  vertical-align: middle;
  vertical-align: -webkit-baseline-middle;
  margin-right: 10px;
}

.our-services-list__offer:last-child::before {
  content: url("../img/services/free-wifi-signal.svg");
  vertical-align: middle;
  vertical-align: -webkit-baseline-middle;
  margin-right: 10px;
}

.our-services__subheading {
  display: block;
  font-family: "PT Sans Caption", sans-serif;
  font-size: 50px;
  text-align: center;
  position: relative;
  margin-bottom: 10px;
}

.our-services__suitability-section {
  width: 50%;
  float: right;
  padding-top: 50px;
}

.our-services-list__offer {
  padding: 0 0 10px 10px;
  font-size: 20px;
}

.our-suitability-list {
  margin: 30px 0 0 48px;
  list-style-position: inside;
}

.our-suitability-list__offer {
  list-style: square;
  padding: 0 0 10px 5px;
  font-size: 20px;
}

.our-suitability-list__offer:nth-child(n):hover {
  color: yellow;
  cursor: pointer;
}

@media only screen and (min-width: 480px) and (max-width: 768px) {
  .our-services {
    height: 910px;
  }

  .our-services__wrapper {
    width: 100%;
  }

  .our-services__offer-section {
    padding-top: 10px;
    width: 100%;
    height: 395px;
  }

  .our-services__suitability-section {
    padding-top: 10px;
    width: 100%;
  }

  .our-services__subheading {
    font-size: 30px;
    margin-bottom: 5px;
  }

  .our-services-list {
    width: 480px;
    margin: 0 auto;
  }

  .our-services-list__offer {
    font-size: 18px;
    padding-bottom: 5px;
  }

  .our-suitability-list {
    width: 395px;
    margin: 0 auto;
    list-style-position: inside;
  }
}

@media only screen and (min-width: 320px) and (max-width: 479px) {
  .our-services {
    height: 840px;
  }

  .our-services__content-block {
    height: 90%;
  }

  .our-services__wrapper {
    width: 100%;
  }

  .our-services__offer-section {
    padding-top: 10px;
    width: 100%;
    height: 370px;
  }

  .our-services__suitability-section {
    padding-top: 0;
    width: 100%;
  }

  .our-services__heading {
    font-size: 50px;
  }

  .our-services__heading::after {
    bottom: 0;
    width: 80px;
    margin-left: -98px;
  }

  .our-services__subheading {
    font-size: 30px;
    margin: 10px 0;
  }

  .our-services-list {
    width: 80%;
    margin: 0 auto;
  }

  .our-services-list__offer {
    font-size: 18px;
    padding-bottom: 5px;
    list-style: disc;
  }

  .our-services-list__offer:nth-child(n)::before {
    content: none;
  }

  .our-suitability-list {
    width: 80%;
    margin: 0 auto;
    list-style-position: inside;
  }

  .our-suitability-list__offer {
    font-size: 18px;
  }
}
* {
  margin: 0;
  padding: 0;
}

html {
  color: black;
  overflow-x: hidden;
}

a {
  color: white;
  text-decoration: none;
}

li {
  list-style: none;
}