.typical-btn {
  height: 33px;
  border-radius: 20px;
  line-height: 33px;
  text-align: center;
  color: white;
  background-color: #E30000;
  font-weight: bold; }

.header-wrapper__booking-section {
  max-width: 1000px;
  width: 95%;
  height: 500px;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin: auto;
  background-color: #fff;
  border-radius: 20px;
  z-index: 1;
  box-shadow: 2px 2px 0 4px #000;
  text-align: center;
  font-family: "PT Sans Caption", sans-serif;
  display: none; }
  .header-wrapper__booking-section_show {
    display: block; }

.booking-section__modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: black;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */ }

.booking-section__heading {
  display: block;
  margin: 10px;
  color: #964B00;
  text-align: center; }

.booking-section__close-btn {
  position: absolute;
  display: block;
  top: 15px;
  right: 15px;
  width: 20px;
  height: 20px;
  z-index: 1;
  background-image: url(../img/header/cancel-black.svg);
  background-repeat: no-repeat;
  transition: transform .5s; }
  .booking-section__close-btn:hover {
    background-image: url(../img/header/cancel-hover.svg);
    cursor: pointer;
    transform: rotate(90deg); }

.booking-section__info-block {
  width: 30%;
  height: 80%;
  float: left;
  display: flex;
  flex-direction: column;
  align-items: center; }

.booking-section__table-block {
  width: 70%;
  height: 80%;
  float: left;
  position: relative;
  border-radius: 10px; }

.info-block__heading {
  display: block;
  color: #964B00;
  margin: 10px; }

.info-block__people-amount {
  width: 80%;
  height: 32px;
  border-radius: 10px;
  border: 2px solid #964B00;
  font-size: 15px;
  float: left;
  margin: 15px 0;
  font-family: "PT Sans Caption", sans-serif;
  color: #964B00; }
  .info-block__people-amount:hover {
    cursor: pointer; }

.info-block__date-btn {
  display: block;
  width: 80%;
  float: left;
  position: relative;
  height: 28px;
  border-radius: 10px;
  border: 2px solid #964B00;
  font-size: 15px;
  line-height: 28px;
  margin: 15px 0 26px; }
  .info-block__date-btn:hover {
    cursor: pointer;
    background-color: #E30000;
    color: white; }

.info-block__select-time {
  width: 80%;
  height: 150px;
  text-indent: 15px;
  font-size: 15px;
  font-family: "PT Sans Caption", sans-serif; }
  .info-block__select-time::-webkit-scrollbar {
    width: 1em; }
  .info-block__select-time::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px #964B00; }
  .info-block__select-time::-webkit-scrollbar-thumb {
    background-color: #964B00;
    outline: 1px solid #964B00; }
  .info-block__select-time option:hover {
    background-color: #964B00;
    color: #fff;
    cursor: pointer; }

.info-block__submit-booking {
  width: 80%;
  margin: auto;
  margin-top: 20px;
  line-height: 28px; }
  .info-block__submit-booking:hover {
    cursor: pointer;
    opacity: .5; }

.info-block__continue-booking {
  background-color: green;
  width: 80%;
  margin: auto;
  margin-top: 10px;
  display: none;
  line-height: 28px; }
  .info-block__continue-booking:hover {
    cursor: pointer;
    opacity: .5; }

.booking__alert-message {
  position: absolute;
  font-size: 12px;
  color: red;
  display: none; }
  .booking__alert-message_date {
    left: 36px;
    top: 208px; }
  .booking__alert-message_people {
    left: 36px;
    top: 146px; }
  .booking__alert-message_time {
    left: 36px;
    top: 382px; }
  .booking__alert-message_table {
    left: 31px; }

.table-block__heading {
  display: block;
  margin: 10px;
  color: #964B00; }

.table-block__table-scheme {
  width: 95%;
  height: 90%;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-wrap: wrap;
  margin: 5px auto;
  border: 2px solid #666;
  justify-content: space-between;
  align-content: space-between; }

.table-scheme__table-description {
  display: none;
  width: 90px;
  height: 35px;
  padding: 10px;
  background-color: rgba(122, 122, 122, 0.5);
  z-index: 1;
  position: absolute;
  font-size: 12px;
  text-align: left;
  border-right: 20px;
  background-color: rgba(30, 144, 255, 0.5);
  color: white;
  font-weight: bold; }

.table-scheme__table {
  width: 75px;
  height: 75px;
  background-color: lightgrey;
  margin: 10px;
  position: relative; }
  .table-scheme__table:hover {
    cursor: pointer; }
  .table-scheme__table-number {
    display: block;
    text-align: center;
    line-height: 75px; }
  .table-scheme__table_table1 {
    width: 60%; }
    .table-scheme__table_table1:hover .table-scheme__table-description_table1 {
      display: block;
      top: 42px;
      left: 220px; }
  .table-scheme__table_table2 {
    width: 20%; }
    .table-scheme__table_table2:hover .table-scheme__table-description_table2 {
      display: block;
      top: 50px;
      left: 60px; }
  .table-scheme__table_table3 {
    height: 150px;
    width: 13%; }
    .table-scheme__table_table3:hover .table-scheme__table-description_table3 {
      display: block;
      top: 0;
      left: 30px; }
  .table-scheme__table_table4 {
    width: 25%;
    height: 100px;
    margin-top: 30px; }
    .table-scheme__table_table4:hover .table-scheme__table-description_table4 {
      display: block;
      top: 70px;
      left: 50px; }
  .table-scheme__table_table5 {
    width: 25%;
    height: 100px;
    margin-top: 30px; }
    .table-scheme__table_table5:hover .table-scheme__table-description_table5 {
      display: block;
      top: 70px;
      left: 50px; }
  .table-scheme__table_table6 {
    height: 150px;
    width: 13%;
    margin-left: 20px; }
    .table-scheme__table_table6:hover .table-scheme__table-description_table6 {
      display: block;
      top: 0;
      left: 60px; }
  .table-scheme__table_table7 {
    width: 13%;
    height: width; }
    .table-scheme__table_table7:hover .table-scheme__table-description_table7 {
      display: block;
      top: -33px;
      left: 40px; }
  .table-scheme__table_table8 {
    width: 13%;
    height: width; }
    .table-scheme__table_table8:hover .table-scheme__table-description_table8 {
      display: block;
      top: -33px;
      left: 40px; }
  .table-scheme__table_table9 {
    width: 13%;
    height: width; }
    .table-scheme__table_table9:hover .table-scheme__table-description_table9 {
      display: block;
      top: -33px;
      left: 40px; }
  .table-scheme__table_table10 {
    width: 13%;
    height: width; }
    .table-scheme__table_table10:hover .table-scheme__table-description_table10 {
      display: block;
      top: -33px;
      left: 40px; }

#table-number3, #table-number6 {
  line-height: 150px; }

#table-number4, #table-number5 {
  line-height: 100px; }

.table-chosen {
  background-color: red;
  color: white; }

.proceed-booking__modal {
  display: none;
  width: 400px;
  height: 500px;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  background-color: #fff;
  z-index: 2;
  border-radius: 20px;
  border: 2px solid red; }

.proceed-booking__close-btn {
  position: absolute;
  display: block;
  top: 15px;
  right: 15px;
  width: 20px;
  height: 20px;
  z-index: 1;
  background-image: url(../img/header/cancel-black.svg);
  background-repeat: no-repeat;
  transition: transform .5s; }
  .proceed-booking__close-btn:hover {
    background-image: url(../img/header/cancel-hover.svg);
    cursor: pointer;
    transform: rotate(90deg); }

.proceed-booking__your-booking {
  width: 80%;
  margin: 10px auto; }

.your-booking__heading {
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 20px; }

.your-booking__order-result {
  margin-left: 10px; }

.order-result__list-item {
  padding: 5px;
  list-style-type: circle; }
  .order-result__list-item:hover {
    color: red;
    cursor: pointer; }

.switch-user__new, .switch-user__existing {
  border-radius: 5px;
  color: #964B00;
  font-size: 20px;
  font-family: "PT Sans Caption", sans-serif;
  text-align: center;
  padding: 5px 10px; }
  .switch-user__new:hover, .switch-user__existing:hover {
    background-color: #964B00;
    color: #fff; }

.switch-user__active {
  background-color: #964B00;
  color: #fff; }

.proceed-booking__content {
  width: 76%;
  margin: auto; }

.proceed-booking__alert-message {
  position: absolute;
  font-size: 12px;
  color: red;
  left: 10px;
  display: none; }
  .proceed-booking__alert-message_email {
    top: 90px; }
  .proceed-booking__alert-message_username {
    top: 35px; }

.booking-loader {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #964B00;
  width: 50px;
  height: 50px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear 5; }
  .booking-loader_show {
    display: block; }

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg); } }

@keyframes spin {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

@media only screen and (min-width: 480px) and (max-width: 768px) {
  .header-wrapper__booking-section {
    height: 870px; }
  .booking-section__info-block {
    height: 30%;
    display: block;
    float: none;
    width: 90%;
    margin: 0 auto; }
  .booking-section__table-block {
    height: 45%;
    float: none;
    width: 90%;
    margin: 0 auto; }
  .info-block__people-amount {
    width: 40%;
    float: left;
    margin-left: 9%; }
  .info-block__date-btn {
    width: 40%;
    float: right;
    margin-right: 9%; }
  .info-block__select-time {
    margin-bottom: 20px; }
  .info-block__submit-booking {
    position: absolute;
    left: 10%;
    top: 740px; }
  .info-block__continue-booking {
    position: absolute;
    left: 10%;
    top: 795px; }
  .info-block__calendar_show {
    right: 13%;
    left: 0;
    top: 132px; }
  .booking__alert-message_people {
    left: 71px;
    top: 137px; }
  .booking__alert-message_date {
    left: 270px;
    top: 137px; }
  .booking__alert-message_time {
    left: 71px;
    top: 314px; } }

@media only screen and (min-width: 320px) and (max-width: 479px) {
  .header-wrapper__booking-section {
    height: 920px; }
  .booking-section__info-block {
    height: 38%;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 15px; }
  .booking-section__table-block {
    height: 42%;
    width: 100%;
    margin: 0 auto; }
  .info-block__people-amount {
    width: 60%; }
  .info-block__date-btn {
    width: 60%;
    margin-top: 10px; }
  .info-block__calendar {
    top: 200px;
    left: 15px;
    width: 90%; }
  .info-block__select-time {
    margin-bottom: 20px; }
  .info-block__submit-booking {
    position: absolute;
    left: 10%;
    top: 810px; }
  .info-block__continue-booking {
    position: absolute;
    left: 10%;
    top: 865px; }
  .weekdays {
    padding: 3px 5px; }
  .info-block__calendar_show {
    right: 13%;
    left: 0;
    top: 132px; }
  .booking__alert-message_people {
    left: 72px; }
  .booking__alert-message_date {
    left: 72px;
    top: 203px; }
  .booking__alert-message_time {
    top: 382px; }
  .table-scheme__table_table1 {
    width: 60%;
    height: 60px; }
  .table-scheme__table_table2 {
    width: 25%;
    height: 60px; }
  .table-scheme__table_table3 {
    width: 13%;
    height: 130px; }
  .table-scheme__table_table4 {
    height: 90px; }
  .table-scheme__table_table5 {
    height: 90px; }
  .table-scheme__table_table6 {
    width: 13%;
    height: 130px;
    margin-left: 0; }
  .table-scheme__table_table7 {
    width: 15%; }
  .table-scheme__table_table8 {
    width: 15%; }
  .table-scheme__table_table9 {
    width: 15%; }
  .table-scheme__table_table10 {
    width: 15%; }
  -description {
    display: none; } }
