.footer {
  width: 100%;
  height: 150px;
  background: url(../img/footer/pasta-tomato-footer.jpg) 0 0 no-repeat;
  background-size: cover;
  font-family: "PT Sans Caption", sans-serif; }
  .footer-wrapper {
    position: relative;
    background-color: rgba(122, 122, 122, 0.5);
    width: 90%;
    color: black;
    margin: 0 auto;
    height: 100%;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    justify-content: space-around;
    align-items: center; }
  .footer__heading {
    margin-bottom: 10px;
    color: black; }

.contacts__street:hover, .contacts__phone:hover, .contacts__email:hover {
  color: #964B00; }

.footer__copy {
  display: block;
  width: 20%; }

.social-media__svg {
  width: 40px;
  height: 40px; }

.social-media__svg-hover {
  width: 40px;
  height: 40px;
  display: none; }

.social-media {
  font-family: "PT Sans Caption", sans-serif;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: inline-block;
  margin-right: 10px; }
  .social-media__facebook:hover .social-media__svg-hover_facebook {
    display: block; }
  .social-media__facebook:hover .social-media__svg_facebook {
    display: none; }
  .social-media__vk:hover .social-media__svg-hover_vk {
    display: block; }
  .social-media__vk:hover .social-media__svg_vk {
    display: none; }
  .social-media__instagram:hover .social-media__svg-hover_instagram {
    display: block; }
  .social-media__instagram:hover .social-media__svg_instagram {
    display: none; }
  .social-media__pinterest:hover .social-media__svg-hover_pinterest {
    display: block; }
  .social-media__pinterest:hover .social-media__svg_pinterest {
    display: none; }

.footer-social__svg {
  width: 40px;
  height: 40px; }

@media only screen and (min-width: 480px) and (max-width: 768px) {
  .footer {
    height: 260px; }
    .footer-wrapper {
      width: 95%;
      justify-content: center;
      flex-wrap: wrap;
      align-items: flex-start; }
    .footer__contacts {
      float: left;
      margin: 10px 10px 0 0; }
    .footer__social-media {
      float: left;
      margin: 0 10px;
      margin-top: 10px; }
    .footer__app-link {
      float: left;
      margin: 10px 5px 0; }
    .footer__copy {
      width: 100%;
      display: block;
      clear: both;
      text-align: center;
      margin: 0 auto; } }

@media only screen and (min-width: 320px) and (max-width: 480px) {
  .footer {
    height: 400px; }
    .footer-wrapper {
      width: 100%;
      justify-content: center;
      flex-wrap: wrap;
      align-items: flex-start; }
    .footer__contacts {
      float: left;
      margin: 10px 10px 0 0;
      text-align: center; }
    .footer__social-media {
      float: left;
      margin: 16px 10px 10px;
      margin-top: 10px;
      text-align: center; }
    .footer__app-link {
      float: left;
      margin: 10px 5px 8px;
      text-align: center; }
    .footer__copy {
      width: 100%;
      display: block;
      clear: both;
      text-align: center;
      margin: 10px auto; } }
