.our-history {
  height: 500px;
  background-image: url("../img/history/parallax-effect.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-position: center; }
  .our-history__wrapper {
    width: 90%;
    margin: 0 auto;
    height: 100%;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    justify-content: center;
    align-items: center; }
  .our-history__description {
    float: left;
    width: 50%;
    text-align: center;
    margin-right: 30px; }
  .our-history__text {
    font-family: "PT Sans Caption", sans-serif;
    font-size: 23px;
    margin-bottom: 25px; }
  .our-history__heading {
    font-family: "Cookie", cursive;
    font-size: 80px;
    margin-bottom: 15px; }
  .our-history__carousel {
    width: 300px;
    text-align: center; }
  .our-history__image {
    width: 300px; }
  .our-history__about {
    font-family: "PT Sans Caption", sans-serif;
    text-transform: uppercase;
    color: #964B00;
    text-decoration: underline;
    font-size: 18px; }
    .our-history__about:hover {
      color: #E30000; }

.social-btn__block {
  width: 210px;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: space-between;
  margin: 20px auto 10px; }

.social-btn__facebook {
  width: 120px; }

.calousel-container {
  max-width: 300px;
  position: relative;
  margin: auto; }

.carousel__slide {
  display: inline-block;
  position: relative;
  width: 300px;
  height: 300px; }
  .carousel__slide_animated {
    animation-name: carousel__slide_animated;
    animation-duration: 1.5s; }

@keyframes carousel__slide_animated {
  from {
    opacity: .4; }
  to {
    opacity: 1; } }

.carousel__picture {
  max-width: 100%;
  max-height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto; }

.carousel__pagination_prev, .carousel__pagination_next {
  position: absolute;
  cursor: pointer;
  top: 50%;
  margin: auto;
  margin-top: -22px;
  padding: 16px;
  color: #fff;
  font-weight: bold;
  font-size: 18px;
  transition: ease .6s; }
  .carousel__pagination_prev:hover, .carousel__pagination_next:hover {
    background-color: rgba(0, 0, 0, 0.8); }

.carousel__pagination_next {
  right: 0;
  border-radius: 3px 0 0 3px; }

.carousel__pagination_prev {
  left: 0; }

@media only screen and (min-width: 480px) and (max-width: 768px) {
  .our-history {
    height: 670px;
    margin: 20px auto; }
    .our-history__wrapper {
      flex-direction: column; }
    .our-history__description {
      width: 90%;
      margin-bottom: 30px;
      margin-right: 0; }
    .our-history__photos {
      display: block;
      width: 100%; }
    .our-history__image:last-child {
      display: none; } }

@media only screen and (min-width: 320px) and (max-width: 479px) {
  .our-history {
    height: 680px;
    margin-top: 20px; }
    .our-history__wrapper {
      flex-direction: column; }
    .our-history__description {
      width: 90%;
      margin-bottom: 30px;
      margin-right: 0; }
    .our-history__photos {
      display: block;
      width: 100%; }
    .our-history__image:last-child {
      display: none; }
    .our-history__heading {
      font-size: 50px; } }
