$wrapper-width: 90%;
$main-font: 'PT Sans Caption', sans-serif;
$heading-font: 'Cookie', cursive;
$menu-text-color: #666;
$text-hover-color: #964B00;
$button-color: #E30000;

.typical-btn {
  height: 33px;
  border-radius: 20px;
  line-height: 33px;
  text-align: center;
  color: white;
  background-color: $button-color;
  font-weight: bold;
}
