@import "!variables.scss";


.typical-btn {
  height: 33px;
  border-radius: 20px;
  line-height: 33px;
  text-align: center;
  color: white;
  background-color: $button-color;
  font-weight: bold;
}

.header-wrapper__booking-section {
  max-width: 1000px;
  height: 500px;
  position: absolute;
  top: 75px;
  right: 10px;
  background-color: #fff;
  border-radius: 20px;
  z-index: 1;
  box-shadow: 2px 2px 0 4px #000;
  text-align: center;
  font-family: $main-font;
  display: none;
  &_show {
    display: block;
  }
}

.booking-section {
  &__modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  &__heading {
    display: block;
    margin: 10px;
    color: $text-hover-color;
  }
  &__close-btn {
    position: absolute;
    display: block;
    top: 15px;
    right: 15px;
    width: 20px;
    height: 20px;
    z-index: 1;
    background-image: url(../img/header/cancel-black.svg);
    background-repeat: no-repeat;
    transition: transform .5s;
    &:hover {
      background-image: url(../img/header/cancel-hover.svg);
      cursor: pointer;
      transform: rotate(90deg);
    }
  }
  &__info-block {
    width: 30%;
    height: 80%;
    float: left;
  }
  &__table-block {
    width: 70%;
    height: 80%;
    float: left;
    position: relative;
    border-radius: 10px;
  }
}

.info-block {
    &__heading {
      display: block;
      color: $text-hover-color;
      margin: 10px;
    }
    &__people-amount {
    width: 160px;
    height: 32px;
    border-radius: 10px;
    border: 2px solid $text-hover-color;
    font-size: 15px;
    float: left;
    margin: 15px 0 15px 16px;
    font-family: $main-font;
    color: $text-hover-color;

  }
  &__date-btn {
    display: block;
    width: 90px;
    float: left;
    position: relative;
    height: 28px;
    border-radius: 10px;
    border: 2px solid $text-hover-color;
    font-size: 15px;
    line-height: 28px;
    margin: 15px 15px 25px ;
    &:hover {
      cursor: pointer;
      background-color: $button-color;
      color: white;
    }
  }
  &__select-time {
    width: 80%;
    text-indent: 15px;
    font-size: 15px;
    font-family: $main-font;
    &::-webkit-scrollbar {
        width: 1em;
    }
    &::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px $text-hover-color;
    }
    &::-webkit-scrollbar-thumb {
      background-color: $text-hover-color;
      outline: 1px solid $text-hover-color;
    }
    option {
      &:hover {
        background-color: $text-hover-color;
        color: #fff;
        cursor: pointer;
      }
    }
  }
  &__submit-booking {
    width: 80%;
    margin: auto;
    margin-top: 20px;
    &:hover {
      cursor: pointer;
      opacity: .5;
    }
  }
  &__continue-booking {
    background-color: green;
    width: 80%;
    margin: auto;
    margin-top: 10px;
    display: none;
    &:hover {
      cursor: pointer;
      opacity: .5;
    }
  }
}

.booking__alert-message {
  position: absolute;
  font-size: 12px;
  color:red;
  display: none;
  &_date {
    left: 193px;
    top: 146px;
  }
  &_people {
    left: 20px;
    top: 146px;
  }
  &_time {
    left: 31px;
  }
  &_table {
    left: 31px;
  }
}

.table-block {
  &__heading {
    display: block;
    margin: 10px;
    color: $text-hover-color;
  }
  &__table-scheme {
    width: 95%;
    height: 90%;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    flex-wrap: wrap;
    margin: 5px auto;
    border: 2px solid $menu-text-color;
    justify-content: space-between;
    align-content: space-between;
  }
}


.table-scheme__table-description {
    display: none;
    width: 90px;
    height: 35px;
    padding: 10px;
    background-color: rgba(122, 122, 122, .5);
    z-index: 1;
    position: absolute;
    font-size: 12px;
    text-align: left;
    border-right: 20px;
    background-color: rgba(30,144,255, .5);
    color: white;
    font-weight: bold;
}

.table-scheme__table {
  width: 75px;
  height: 75px;
  background-color: lightgrey;
  margin: 10px;
  position: relative;
  &:hover {
    cursor: pointer;
  }
  &-number {
    display: block;
    text-align: center;
    line-height: 75px;
  }
  &_table1 {
    width: 400px;
    &:hover .table-scheme__table-description_table1 {
      display: block;
      top: 42px;
      left: 220px;
    }
  }
  &_table2 {
    width: 150px;
    &:hover .table-scheme__table-description_table2 {
      display: block;
      top: 50px;
      left: 60px;
    }
  }
  &_table3 {
    height: 150px;
    &:hover .table-scheme__table-description_table3 {
      display: block;
      top: 0;
      left: 30px;
    }
  }
  &_table4 {
    width: 150px;
    height: 100px;
    margin-top: 30px;
    &:hover .table-scheme__table-description_table4 {
      display: block;
      top: 70px;
      left: 50px;
    }
  }
  &_table5 {
    width: 150px;
    height: 100px;
    margin-top: 30px;
    &:hover .table-scheme__table-description_table5 {
      display: block;
      top: 70px;
      left: 50px;
    }
  }
  &_table6 {
    height: 150px;
    margin-left: 51px;
    &:hover .table-scheme__table-description_table6 {
      display: block;
      top: 0;
      left: 60px;
    }
  }
  &_table7 {
    margin-left: 30px;
    // border-radius: 50%;
    &:hover .table-scheme__table-description_table7 {
      display: block;
      top: -33px;
      left: 40px;
    }
  }
  &_table8 {
     margin-left: 30px;
    //  border-radius: 50%;
     &:hover .table-scheme__table-description_table8 {
       display: block;
       top: -33px;
       left: 40px;
     }
   }
   &_table9 {
    margin-left: 30px;
    // border-radius: 50%;
    &:hover .table-scheme__table-description_table9 {
      display: block;
      top: -33px;
      left: 40px;
    }
  }
  &_table10 {
     margin-left: 30px;
    //  border-radius: 50%;
     &:hover .table-scheme__table-description_table10 {
       display: block;
       top: -33px;
       left: 40px;
     }
  }
}

#table-number3, #table-number6 {
  line-height: 150px;
}

#table-number4, #table-number5 {
  line-height: 100px;
}

.table-chosen {
  background-color: red;
  color: white;
}
