@import "!variables.scss";
@import url('https://fonts.googleapis.com/css?family=Cookie');
@import url('https://fonts.googleapis.com/css?family=PT+Sans+Caption');

span.highlight {
background-color: yellow; cursor: pointer; }

span.splink {
color: #0A5794; cursor: pointer; }

.header {
  width: 100%;
  color: $text-hover-color;
  height: 76px;
  font-family: $main-font;
  &-wrapper {
    width: 95%;
    height: 100%;
    margin: 0 auto;
    position: relative;
    &__btns-section {
      float: right;
      position: relative;
      margin-top: 30px;
      width: 175px;
    }
    &__search-section {
      float: right;
      margin-top: 30px;
    }
    &__logged-user-section {
      display: none;
      width: 60px;
      height: 65px;
      float: right;
      margin-top: 10px;
      &:hover {
        cursor: pointer;
      }
    }
  }
}

.menu-top  {
  height: 35px;
  float: left;
  padding: 30px 0 10px 0;
  font-weight: bold;
  line-height: 35px;
  text-align: center;
  &__menu-item {
    position: relative;
    float: left;
    padding-right: 20px;
    padding-left: 20px;
  }
  &__menu-link {
    color: #666666;
    &-underline {
      color: #666666;
      &:hover {
        color: $text-hover-color;
      }
    }
  }
  &__vertical-line {
    height: 20px;
    width: 1px;
    display: inline-block;
    float: left;
    margin-top: 8px;
    background-color: $text-hover-color;
  }
}

.menu-top__menu-link::after {
  content: "";
  height: 2px;
  display: block;
  margin: auto;
  background-color: #fff;
  width: 0;
}

.menu-top__menu-link:hover::after  {
  width: 100%;
  background-color: $text-hover-color;
  -webkit-transition: width .8s ease-in-out, background-color .8s ease;
  transition: width .8s ease-in-out, background-color .8s ease;
}

.mobile-menu {
  display: none;
}

/*submenu*/

.menu__submenu-style {
  width: 195px;
  position: absolute;
  display: none;
  left: 2px;
  top: 36px;
  z-index:1;
  border-radius: 20px;
  overflow: hidden;
  background-color: rgba(150,75,0, .4);
  text-align: left;
  text-indent: 10px;
  transition: all 0.3s ease-in-out 0s;
}

.menu-top__menu-item:hover .menu__submenu_hover {
  display: block;
}

.menu-top__submenu-contacts {
  width: 195px;
  display: none;
  position:absolute;
  left: 2px;
  top: 36px;
  border-radius: 20px;
  overflow: hidden;
  background-color: rgba(150,75,0, .4);
}

 .submenu__menu-item:hover {
  background-color: rgba(255, 0, 0, 0.5);
}

.submenu__menu-link {
  display: block;
  text-indent: 10px;
}

//menu__submenu

.join-us__btn, .booking__btn {
  width: 80px;
  display: inline-block;
  position: absolute;
  height: 33px;
  top: 0;
  left: 0;
  &:hover {
    cursor: pointer;
    opacity: .5;
    margin-top: 3px;
  }
  &_active {
    margin-top: 3px;
    background-color: $text-hover-color;
  }
}

.booking__btn {
  left: 85px;
}

/*logged user*/

.logged-user {
  &__icon {
    display: block;
    width: 30px;
    margin: 0 auto;
  }
  &__greetings {
    display: block;
    text-align: center;
    font-size: 13px;
    &:hover {
      cursor: pointer;
      color: $text-hover-color;
    }
  }
}

/*to top button*/

#to-top-button {
  display: none;
  position: fixed;
  bottom: 50px;
  right: 50px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  z-index: 10;
  background: $menu-text-color url(../img/header/to-top-arrow.svg) 10px 10px no-repeat;
  &:hover {
    background-color: $text-hover-color;
  }
}


@media only screen and (min-width: 480px) and (max-width: 768px) {

  .header-wrapper {
    width: 100%;
    padding: 0;
    &__btns-section {
      position: absolute;
      width: 170px;
      right: 10px;
      top: 20px;
    }
  }

//menu

  .menu-top {
    width: 100%;
    display: none;
    padding-top: 0;
    &__menu-item {
      display: block;
      float: none;
      background-color: #fff;
      z-index: 1;
      padding: 0;
      &:not(:last-child){
        border-bottom: 1px solid $text-hover-color;
      }
    }
    &__menu-link {
      display: block;
      &::after {
        height: 0;
      }
    }
    &__active {
      display: block;
    }
  }

  .menu-top__menu-item:hover .menu__submenu_hover {
      display: none;
  }

  .menu__submenu {
    &-style {
      border-radius: 0;
    }
    &-show-menu {
      display: block;
      position: static;
      width: 100%;
    }
  }

  .submenu__menu-item:not(:last-child) {
    border-bottom: 1px solid white;
  }

  .mobile-menu {
    display: block;
    width: 100%;
    height: 73px;
    border-bottom: 3px solid $menu-text-color;
    &__burger {
      display: block;
      float: left;
      width: 76px;
      height: 76px;
      background: url(../img/header/mobile-menu.svg) center center no-repeat;
      transition-duration: 1s;
      &_open {
        background: url(../img/header/close.svg) center center no-repeat;
        width: 30px;
        margin-left: 25px;
        transition-duration: 1s;
        transform: rotate(90deg);
      }
    }
  }

  .join-us__btn {
    width: 100px;
    display: block;
    position: absolute;
    top: -26px;
    right: 0;
    width: 80px;
    height: 33px;
    border-radius: 20px;
    color: white;
    background-color: $button-color;
    &_active {
      margin-top: 3px;
      background-color: $text-hover-color;
    }
  }

  .booking__btn {
    &_active {
      margin-top: 3px;
      background-color: $text-hover-color;
    }
  }

  .header-wrapper__registration_show {
    right: 0;
    width: 100%;
  }

  .booking__btn {
    top: -26px;
    left: 90px;
  }

}


@media only screen and (min-width: 320px) and (max-width: 479px) {
  #to-top-button {
    right: 10px;
  }

  //menu
  .header-wrapper {
    width: 100%;
    padding: 0;
    &__btns-section {
      position: absolute;
      width: 170px;
      right: 10px;
      top: 20px;
    }
  }

  .menu-top {
    width: 100%;
    display: none;
    padding-top: 0;
    &__menu-item {
      display: block;
      float: none;
      background-color: #fff;
      z-index: 1;
      padding: 0;
      &:not(:last-child){
        border-bottom: 1px solid $text-hover-color;
      }
    }
    &__menu-link {
      display: block;
      &::after {
        height: 0;
      }
    }
    &__active {
      display: block;
    }
  }

  .menu-top__menu-item:hover .menu__submenu_hover {
      display: none;
  }

  .menu__submenu {
    &-style {
      border-radius: 0;
    }
    &-show-menu {
      display: block;
      position: static;
      width: 100%;
    }
  }

  .submenu__menu-item:not(:last-child) {
    border-bottom: 1px solid white;
  }

  .mobile-menu {
    display: block;
    width: 100%;
    height: 73px;
    border-bottom: 3px solid $menu-text-color;
    &__burger {
      display: block;
      float: left;
      width: 76px;
      height: 76px;
      background: url(../img/header/mobile-menu.svg) center center no-repeat;
      transition-duration: 1s;
      &_open {
        background: url(../img/header/close.svg) center center no-repeat;
        width: 30px;
        margin-left: 25px;
        transition-duration: 1s;
        transform: rotate(90deg);
      }
    }
  }

  .join-us__btn {
    width: 100px;
    display: block;
    position: absolute;
    top: -26px;
    right: 0;
    width: 80px;
    height: 33px;
    border-radius: 20px;
    color: white;
    background-color: $button-color;
    &_active {
      margin-top: 3px;
      background-color: $text-hover-color;
    }
  }

  .booking__btn {
    top: -26px;
    left: 90px;
    &_active {
      margin-top: 3px;
      background-color: $text-hover-color;
    }
  }


  .menu__submenu-show-menu {
    display: block;
    position: static;
    width: 100%;
  }
}
