@import "!variables.scss";

.hide {
  display: none;
}

.buy-food-online {
  width: 1280px;
  height: 1060px;
  overflow: hidden;
  margin: 0 auto;
  position: relative;
  &__hide {
    height: 1px;
    overflow: hidden;
  }
}

.benefit-section {
  width: 100%;
  height: 50px;
  margin: 10px 0 20px 0;
  box-shadow: 2px 2px 6px 6px lightgrey;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: center;
  &__benefit1, &__benefit2, &__benefit3, &__benefit4 {
    width: 25%;
    height: 100%;
    display: block;
    color: black;
    line-height: 50px;
    text-align: center;
  }
}

.benefit1__title {
  height: 100%;

}


/*aside*/

.buy-food-online {
  &__sidebar {
    width: 25%;
    float: left;
    margin: 47px 20px 0 0;
    box-sizing: border-box;
    border: 3px solid $text-hover-color;
    font-family: $main-font;
  }
  &__form {
    padding: 10px;
  }
  &__filter-heading {
    width: 100%;
    height: 40px;
    display: block;
    background-color: $text-hover-color;
    font-size: 25px;
    color: #fff;
    line-height: 40px;
    text-align: center;
    font-weight: bold;
  }
}

//food category filter

.food-filter {
  display: none;
  &__category {
    margin-bottom: 50px;
  }
  &__heading {
    color: $menu-text-color;
    margin-bottom: 29px;
  }
  &__label {
    margin-bottom: 20px;
    display: block;
    cursor: pointer;
    position: relative;
    padding-left: 60px;
    font-weight: bold;
    margin: 15px auto;
    letter-spacing: .6px;
    font-family: $main-font;
    color: black;
    &:before {
      content: "";
      display: inline-block;
      width: 20px;
      height: 20px;
      position: absolute;
      left: 10px;
      bottom:-5px;
      border: 3px solid $text-hover-color;
    }
  }
  &__label-radio {
    margin-bottom: 20px;
    display: block;
    cursor: pointer;
    position: relative;
    padding-left: 60px;
    font-weight: bold;
    margin: 15px auto;
    letter-spacing: .6px;
    font-family: $main-font;
    color: black;
    &:before {
      content: "";
      display: inline-block;
      width: 20px;
      height: 20px;
      position: absolute;
      left: 10px;
      bottom:-5px;
      border-radius: 50%;
      border: 3px solid $text-hover-color;
    }
  }
}

.food-filter:checked + .food-filter__label::before {
  content: "";
  background-image: url(../img/menu-filter/checked.svg);
  background-position: 0 0;
  background-repeat: no-repeat;
  position: absolute;
}

.food-filter__radio:checked + .food-filter__label-radio::before {
  content: "\2022";
  color: $text-hover-color;
  font-size: 42px;
  line-height: 16px;
  text-align: center;
}

.filter-group__label:before {
	content: "";
	display: inline-block;
	width: 16px;
	height: 16px;
	margin-right: 10px;
	position: absolute;
	left: -19px;
	bottom: 14px;
  border: 2px solid black;
}

.filter-group:checked + .filter-group__label::before {
  content: "\2022";
  color: black;
  font-size: 30px;
  text-align: center;
  line-height: 15px;
}

.filter-group__label:hover,
.food-filter__label:hover {
  color:  #743b09;

}

//drinks type filter-btn

.food-filter__drink-type > .food-filter__label::before {
  border-radius: 50%;
}

.food-filter__drink-type > .food-filter__label::before {
  border-radius: 50%;
}

.filter-btn {
  width: 140px;
  height: 40px;
  color: white;
  background-color: $button-color;
  line-height: 30px;
  font-weight: bold;
  border: none;
  border-radius: 20px;
  font-size: 20px;
  &:hover{
    cursor: pointer;
    opacity: .6;
  }
}

.filter-group__label:first-child {
  color: red;
}

.goods-filter__groups label:nth-child(5)::before {
  bottom: -4px;
}

/*food search*/

.buy-food-online__search-block {
  margin: 10px;
  position: relative;
}

.search-block__search-field {
    width: 130px;
    position: relative;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    color: $text-hover-color;
    background-color: white;
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

.search-block__search-field:focus {
    width: 100%;
}

.search-block__search-icon {
  position: absolute;
  z-index: 1;
  top: 11px;
  left: 5px;
}
/*food sorting*/

.buy-food-online__sort-block {
  float: right;
  margin-bottom: 20px;
}

.sort-block {
  &__sorting {
    display: block;
    float: left;
    font-family: $main-font;
    color: $text-hover-color;
    &:hover {
      cursor: pointer;
    }
  }
  &__option {
    &:hover {
      cursor: pointer;
    }
  }
  &__heading {
    display: block;
    float: left;
    margin-right: 15px;
    font-family: $main-font;
    color: $text-hover-color;
    font-weight: bold;
  }
}


/*food result*/

.food-wrapper__result {
  width: 70%;
  height: 700px; 
  float: left;
  position: relative;
  text-transform: none;
  font-family: 'montserrat-bold', sans-serif;
  font-weight: bold;
  margin-bottom: 20px;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-wrap: wrap;
}

.food-result {
  width: 30%;
  height: 320px;
  display: inline-block;
  margin: 5px 20px 14px 0;
  box-shadow: -1px 2px 23px rgba(0, 0, 0, .44);
  &:hover {
    transform: scale(1.1);
    z-index: 1;
  }
  
  &__name {
    font-size: 18px;
    margin: 10px 0 5px 15px;
    &:hover {
      color: $text-hover-color;
      cursor: pointer;
    }
  }
  &__rating {
    display: inline-block;
  }
  &__rating-block {
    display: flex;
    height: 14px;
    font-size: 12px;
    margin: 10px 0 10px 15px;
    &_stars-amount {
      display: block;
      height:100%;
      width: 14px;
      background-image: url("../img/menu-filter/star-rating.svg");
    }
    &:hover {
      color: $text-hover-color;
      cursor: pointer;
    }
  }
  &__desc {
    font-size: 12px;
    margin: 10px 0 9px 15px;
    height: 28px;
    max-width: 245px;
    max-height: 28px;
    overflow: hidden;
    &:hover {
      color: $text-hover-color;
      cursor: pointer;
    }
  }
}

//food result pictures
//desserts

.food-result__pic {
  display: inline-block;
  width: 100%;
  height: 165px;
  position: relative;
  background-image: url(../img/menu-filter/ice-cream.jpg);
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  &_sorbet {
    background-image: url(../img/menu-filter/sorbet.jpg);
  }
  &_panna-cotta {
    background-image: url(../img/menu-filter/panna-cotta.jpg);
  }
  &_creme-brulee {
    background-image: url(../img/menu-filter/creme-brulee.jpg);
  }
  &_tiramisu {
    background-image: url(../img/menu-filter/tiramisu.jpg);
  }
  &_tortino {
    background-image: url(../img/menu-filter/tortino.jpg);
  }
  &_castagnaccio {
    background-image: url(../img/menu-filter/castagnaccio.jpg);
  }
  &_crostata {
    background-image: url(../img/menu-filter/crostata.jpg);
  }
  &_semifreddo {
    background-image: url(../img/menu-filter/semifreddo.jpg);
  }
  &_red-wine {
    background-image: url(../img/menu-filter/red-wine.jpg);
    background-size: contain;
  }
}


//pizza


.food-result__pic_margherita {
  background-image: url(../img/menu-filter/margherita.jpg);
}

.food-result__pic_napoletana {
  background-image: url(../img/menu-filter/napoletana.jpg);
}

.food-result__pic_verdure {
  background-image: url(../img/menu-filter/verdure.jpg);
}

.food-result__pic_diavola {
  background-image: url(../img/menu-filter/diavola.jpg);
}

.food-result__pic_lasagna {
  background-image: url(../img/menu-filter/lasagna.jpg);
}

.food-result__pic_tortelli {
  background-image: url(../img/menu-filter/tortelli.jpg);
}

.food-result__pic_spaghetti {
  background-image: url(../img/menu-filter/spaghetti.jpg);
}

.food-result__pic_frittura {
  background-image: url(../img/menu-filter/frittura.jpg);
}

.food-result__pic_farro {
  background-image: url(../img/menu-filter/farro.jpg);
}

.food-result__pic_minestrone {
  background-image: url(../img/menu-filter/minestrone.jpg);
}

.food-result__pic_zuppa-di-pesce {
  background-image: url(../img/menu-filter/zuppa-di-pesce.jpg);
}

.food-result__pic_americano {
  background-image: url(../img/menu-filter/americano.jpeg);
}

.food-result__pic_spritz-royal {
  background-image: url(../img/menu-filter/spritz-royal.jpg);
}

.food-result__pic_negroni {
  background-image: url(../img/menu-filter/negroni.jpg);
}


.food-result__buy, .food-result__price {
  float: left;
  display: block;
}

.food-result__price {
  width: 24%;
  height: 30px;
  margin-left: 18px;
  background-color: #fff;
  border: 2px solid $text-hover-color;
  font-size: 13px;
  text-transform: uppercase;
  text-align: center;
  line-height: 30px;
}

.food-result__buy {
  width: 54%;
  height: 34px;
  padding-left: 0;
  background-color: $text-hover-color;
  color: white;
  border: none;
  &:hover {
    opacity: .5;
    cursor: pointer;
  }
}

.goods-wrapper__pagination {
  clear: both;
  margin-left: 1px;
}

.btn-pagination {
  display: inline-block;
  width: 43px;
  height: 43px;
  margin-right: 4px;
  text-align: center;
  background-color: black;
  color: white;
  line-height: 43px;
}

.btn-pagination:nth-child(3) {
  margin-right: 3px;
}

.goods-wrapper__pagination .btn-pagination {
  color: white;
  font-size: 13px;
}

.goods-wrapper__pagination .btn-pagination__active {
  background-color: #fff;
  color: black;

}

.btn-pagination:not(.btn-pagination__active):hover {
  background-color: #743b09;
  color: white;
}


#page_navigation a{
  padding:3px;
  border:1px solid gray;
  margin:2px;
  color:black;
  text-decoration:none
}
.active_page{
  background:darkblue;
  color:white !important;
}