@import "!variables.scss";


//sign up form

.header-wrapper__registration  {
  display: none;
  position: absolute;
  right: 123px;
  top: 76px;
  width: 300px;
  height: 60px;
  background-color: #fff;
  border-radius: 20px;
  z-index: 1;
  background-color: rgba(122, 122, 122, .7);
  animation-delay: 1s;
  &_show {
    display: block;
  }
}


.registration__form-tabs {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  position: relative;
  margin: 6px 0 13px 0;
}

.registration__close-btn {
  position: absolute;
  display: block;
  top: 20px;
  right: 5px;
  width: 20px;
  height: 20px;
  z-index: 1;
  background-image: url(../img/header/cancel.svg);
  background-repeat: no-repeat;
  transition: transform .5s;
  &:hover {
    background-image: url(../img/header/cancel-hover.svg);
    cursor: pointer;
    transform: rotate(90deg);
  }
}

.user-form-switch__new, .user-form-switch__existing {
  display: block;
  color: #fff;
  font-family: $main-font;
  font-size: 19px;
  margin: 10px 15px;
  &:hover {
    color: $button-color;
  }
  &_active {
    color: black;
    font-weight: bold;
  }
}

//inputs styles

.registration-form__field {
  width: 70%;
  display: block;
  float: left;
  height: 30px;
  border: 2px solid $text-hover-color;
  text-indent: 10px;
  font-size: 17px;
  margin-bottom: 20px;
  &:focus {
    background-color: $input-focus-color;
    color: #fff;
  }
}

//signup alert messages

.signup__alert-message {
  position: absolute;
  width: 100%;
  font-size: 11px;
  color: red;
  left: 10px;
  display: none;
  &_username {
    top: 35px;
  }
  &_email {
    top: 90px;
  }
  &_pass {
    top: 143px;
  }
  &_repeat-pass {
    top: 200px;
  }
}

//sign-up

.signup-form__wrapper {
  position: relative;
}

.registration__signup-form {
  height: 250px;
  text-align: left;
  display: none;
  background-color: rgba(122, 122, 122, .7);
  padding: 15px 10px;
  border-radius: 20px;

}

.signup-form {
  &__label {
    display: block;
    float: left;
    margin-left: 10px;
    width: 34px;
    height: 34px;
    background-color: $text-hover-color;
    position: relative;
  }
  &__button {
    display: block;
    width: 50%;
    height: 30px;
    color: #fff;
    font-weight: bold;
    font-family: $main-font;
    background-color: $button-color;
    border-radius: 20px;
    margin-left: 10px;
    &:hover {
      cursor: pointer;
      margin-top: 3px;
    }
  }
}

.registration__icon {
  position: absolute;
  top: 7px;
  left: 8px;
}

//login

.registration__login-form {
  display: none;
  height: 170px;
  padding: 15px 10px;
  background-color: rgba(122, 122, 122, .7);
  border-radius: 20px;
}

.login-form {
  &__wrapper {
    position: relative;
  }
  &__label {
    display: block;
    float: left;
    margin-left: 10px;
    width: 34px;
    height: 34px;
    background-color: $text-hover-color;
    position: relative;
  }
  &__pass-field {
    width: 70%;
    display: block;
    float: left;
    height: 30px;
    border: 2px solid $text-hover-color;
    text-indent: 10px;
    font-size: 17px;
    margin-bottom: 20px;
  }
  &__name-field {
    width: 70%;
    height: 20px;
    float: left;
    height: 30px;
    border: 2px solid $text-hover-color;
    text-indent: 10px;
    font-size: 17px;
    margin-bottom: 20px;
  }
  &__button {
    display: block;
    float: left;
    width: 50%;
    height: 30px;
    color: #fff;
    font-weight: bold;
    font-family: $main-font;
    background-color: $button-color;
    border-radius: 20px;
    margin-left: 10px;
    &:hover {
      cursor: pointer;
      margin-top: 3px;
    }
  }
  &__label-remember {
    margin-left: 10px;
    color: #fff;
    &:hover {
      color: blue;
      cursor: pointer;
    }
  }
  &__forgot-pass {
    display: block;
    float: right;
    font-size: 12px;
    margin-top: 6px;
    &:hover {
      color: blue;
    }
  }
}

//login alert message

.login__alert-message {
  position: absolute;
  width: 100%;
  font-size: 11px;
  color: red;
  left: 10px;
  display: none;
  &_username{
    top: 35px;
  }
  &_pass{
    top: 91px;
  }
} 

#login__remember-me {
  margin: 0 0 13px 10px;
}

.show-user-form {
    display: block;
}

.show-alert-message {
  display: block;
}

//sent email modal

.header-wrapper__registration-confirm-modal {
  width: 300px;
  height: 130px;
  z-index: 1;
  background-color: #fff;
  border: 2px solid grey;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  opacity: 0;
  &_animate-fading {
    animation:fading 10s 1;
  }
}

@keyframes fading {
  0% {
    opacity:1;
  } 
  100% {
    opacity:0;
  }
}

@-webkit-keyframes fading {
  0% {
    opacity:1;
  } 
  100% {
    opacity:0;
  }
}

.registration-confirm-modal {
  &__heading {
    text-align: left;
    padding: 10px;
    background-color: $text-hover-color;
    color: white;
  }
  &__text {
    padding: 12px;
  }
}


@media only screen and (min-width: 480px) and (max-width: 768px) {
  .header-wrapper__registration_show {
    right: 123px;
    width: 300px;
  }

  .user-form-switch__new, .user-form-switch__existing {
    &:hover {
      color: white;
    }
  }

  .registration__signup-form {
    width: 280px;
  }

}

@media only screen and (min-width: 320px) and (max-width: 479px) {
  .header-wrapper__registration_show {
    right: 0;
    width: 100%;
  }

  .login-form__wrapper, .signup-form__wrapper {
    max-width: 90%;
    margin: 5px auto;
  }

  .registration__signup-form, .registration__login-form,  {
    width: 100%;
    padding: 15px 0;
  }

  .registration__form-tabs {
    width: 100%;
  }

  .registration-form__field {
    width: 80%;
  }
}
