* {
  margin: 0;
  padding: 0;
}

html {
  color: black;
  overflow-x: hidden;
}

a {
  color: white;
  text-decoration: none;
}

li {
  list-style: none;

}


//
//
//
//
//
//   .arrow-down {
//     position: absolute;
//     bottom: 0;
//   }
//

  // .signin-form, .signup-form  {
  //   display: none;
  //   width: 400px;
  //   height: 300px;
  //   background-color: #fff;
  //   border: 1px solid grey;
  // }
  //
  // .signin-form__signin-field_login, .signin-form__signin-field_password {
  //   display: block;
  // }
