* {
  padding: 0;
  margin: 0;
}

.wrapper {
  width: 915px;
  margin: auto;
  padding-top: 8px;
  font-family: "helvetica_neueregular", Arial, sans-serif;
}

@font-face {
    font-family: 'helvetica_neueregular';
    src: url('fonts/helveticaneue-thin-webfont.woff2') format('woff2'),
         url('fonts/helveticaneue-thin-webfont.woff') format('woff'),
         url('fonts/helveticaneue-thin-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}



li {
  list-style: none;
}



a {
  text-decoration: none;
  color: white;
}

/*HEADER*/
.contacts {
  float: left;
  width: 300px;
  margin: 3px 0 0 5px;
  font-size: 16px;
}

.phone {
  float: left;
}

.contacts p {
  float: left;
  margin-left: 4px;
  letter-spacing: 1px;
  color: #5e696d;
}

/*LOGIN*/
.login {
  float: left;
  width: 490px;
  height: 25px;
  margin:0 0 10px 10px;
  background: linear-gradient(to top, #0c3357, #1f6787);
  box-shadow: 0 0 10px rgb(180,180,180);
}

.login_icon {
  float: left;
  margin: 2px 2px 0 7px;
}

.forma {
  float: left;
  width: 465px;
  padding: 2px 0 0 0;
  vertical-align: middle;
}

.log_form, .pass_form {
  width: 114px;
  height: 16px;
  float: left;
}

.enter, .reg {
  border: none;
  margin: 2px 0 0 3px;
  font-size: 13px;
  cursor: pointer;
  background: none;/*linear-gradient(to top, #0c3357, #1f6787);*/
  color: white;
  float: left;
}

hr {
  float: left;
  width: 0px;
  height: 11px;
  margin: 3px 5px;
  color: white;
}

.forgot {
  float: right;
  font-size: 13px;
  line-height: 19px;
  text-decoration: underline;
  background: none/*linear-gradient(to top, #0c3357, #1f6787)*/;
  border: none;
  color: grey;
}

.forgot a {
  color: #bfbfbf;
}

/*NAVIGATION*/
.nav {
  float: left;
  width: 74px;
  margin-left: 21px;
  vertical-align: middle;
  border: 1px solid #c0c7c9;
  border-radius: 10px;
}
.nav img {
  padding: 0 0 1px 8px;
}

.main {
  float: left;
  width: 909px;
  margin-bottom: 7px;
}

/*MENU*/
.menu {
  height: 32px;
  width: 908px;
  clear: both;
  margin-bottom: 10px;
  border-radius: 5px;
  background: linear-gradient(to top, #010101, #4d5663);
  font-size: 12px;
  box-shadow: 0 0 10px #50525e;
  border: 1px solid #0a1030;
}

.cart {
  display: inline-block;
  width: 200px;
  color: #8c9599;
  margin-left: 165px;
}

.cart img {
  margin: -3px 0;
}

.name {
  height: 32px;
  margin-left: 128px;
}

span {
  color: #0d5a8f;
}

.menu ul li {
  display: inline-block;
  line-height: 32px;
}

.menu_link {
  display: block;
  height: 26px;
  padding: 0px 10px;
  color: #b1bcc0;
}

.menu li:hover a {
  background: linear-gradient(to top, #0c3357, #25617b);
  border-radius: 20px;
  color: white;
  height: 26px;
  line-height: 27px;
}

.content div {
  border-radius: 5px;
}

/*SELECTION*/

.block1, .block2, .block3 {
  height: 132px;
  box-shadow: 0 0 10px #50525e;
  border: 1px solid black;
  border-radius: 17px;
  font-size: 10px;
}

.find a {
  float: right;
  margin: 7px 26px 0 0;
  text-decoration: underline;
  font-style: italic;
  font-size: 10px;
  color: blue;
}
/*BLOCK1*/
.block1 {
  float: left;
  width: 45%;
  margin-left: 3px;
}

.top {
  display: inline-block;
  clear: both;
  width: 410px;
  margin-top: -10px;
  font-size: 13px;
  text-align: center;
  color: blue;
}

.top ul {
  height: 15px;
}

.top li {
  display: inline-block;
  padding-right: 42px;

}

.bigger {
  font-size: 14px;
  font-weight: bold;
}

.left {
  float: left;
  display: block;
  width: 80px;
  margin: 3px 0 0 16px;
  font-size: 10px;
}

.left p {
  margin-top: 2px;
  padding-bottom: 1px;
}

.select {
  float: left;
  width: 100px;
}

select {
  width: 100px;
  margin:0 0 2px -4px;
}

.year {
  width: 60px;
}

/*BLOCK2*/
.block2 {
  width: 21%;
  float: left;
  margin-left: 15px;
  font-size: 10px;
}

.block2 p {
  margin: 3px 0 0 10px;
  font-weight: bold;
  font-size: 10px;
  color: blue;
}

.block2 ul {
  margin: 2px 0 0 12px;
}

.block2 .select {
  width: 115px;
  margin: 20px 0 0 0;
}

.block2 select {
  width: 45px;
  margin: 0 5px 0 0;
}

.block2 .left {
  margin-left: -5px
}

.left .right {
  text-align: right;
}

/*BLOCK3*/
.block3 {
  width: 29%;
  float: left;
  margin-left: 9px;
}

.dco {
  width: 70px;
  float: right;
  border-left: 1px solid grey;
  padding-left: 10px;
}

.block3 select {
  width: 50px;
  margin-bottom: 15px;
}

.block3 select:nth-child(2) {
  width: 30px;
}

.block3 .select {
  width: 60px;
  margin-top: 20px;
}

.block3 .dco select {
  width: 40px;
}

.block3 .find {
  float:right;
  position: relative;
  top: -10px;
  left: 90px;
}

/*CONTENT*/
/*LEFTMENU*/
.leftmenu {
  width: 185px;
  float: left;
  margin: 10px 8px 0 0;
  color: blue;
}

.leftmenu .category {
  float: left;
  height: 24px;
  width: 180px;
  border: 1px solid grey;
  border-radius:10px;
  margin: 9px 0 0 3px;
  box-shadow: 0 0 10px #50525e;
}

.category, .category img, .subcat, .subcat img {
  float: left;
}

h5 {
  float: left;
  display: block;
  padding: 4px 0 0 3px;
}

.leftmenu .subcat {
  float: left;
  height: 27px;
  width: 146px;
  border: 1px solid grey;
  border-radius:10px;
  margin: 13px 0 4px 4px;
  padding: 2px 0 0 4px;

}

.leftmenu li {
  clear: both;
  margin-left: 49px;
  color: black;
  list-style: circle;
  font-size: 13px;
  padding: 0 0 11px 0;
}

.leftmenu .disk {
  margin: -7px 0 0 1px;
}

.leftmenu li:hover {
  text-decoration: underline;
  font-weight: bold;
  font-style: italic;
}

/*Centermenu*/
.centermenu {
  float: left;
  height: 700px;
  width: 525px;
  margin: 15px 10px 0 0;
  background-color: lightblue;
}

.tires_all figure {
  float: left;
  width: 139px;
  margin: 9px 5px 0 23px;
  text-align: center;
}

/*SIDEMENU*/
.sidemenu {
  float: left;
  width: 177px;
  margin: 15px 10px 0 0;
}

.sidemenu .category {
  float: right;
  height: 24px;
  width: 176px;
  border: 1px solid grey;
  border-radius:10px;
  margin: 3px 0 0 10px;
  box-shadow: 0 0 10px #50525e;
}

.sidemenu .subcat {
  float: right;
  height: 27px;
  width: 128px;
  border: 1px solid grey;
  border-radius:10px;
  margin: 8px 29px 0 0;
  padding: 2px 0 0 4px;
}

.checkb {
  float: left;
  width: 73px;
  margin: 6px 0 0 23px;
  font-size: 13px;
}

.downbutton {
    width: 150px;
    height: 30px;
    margin: 10px 0 0 0;
    color: white;
    background: linear-gradient(to top, #0c3357, #1f6787);
    box-shadow: 0 0 10px rgb(180,180,180);
    border-radius: 10px;
    cursor: pointer;
}

.logo {
  margin: 20px 250px 10px 250px;
}

/*FOOTER*/
footer {
  height: 100px;
  clear: both;
  background-color: blue;
  color: grey;
}

footer p {
  text-align: center;
  color: orange;
}

footer ul {
  text-align: center;

}

footer li {
  display: inline-block;
  margin: 10px auto;
  padding:5px 15px;
}

footer a {
  line-height: 28px;
}

footer hr {
  width: 0px;
  height: 26px;
  color: white;
  margin: -6px 0;
  float: none;
  display: inline-block;
}
