@import url("https://fonts.googleapis.com/css?family=Cookie");
@import url("https://fonts.googleapis.com/css?family=PT+Sans+Caption");
.our-online-menu {
  height: 1080px;
  width: 100%;
  margin-bottom: 20px;
  display: block; }
  .our-online-menu__hide {
    display: none;
    overflow: hidden; }

.buy-food-online {
  width: 95%;
  max-width: 1280px;
  height: 100%;
  overflow: hidden;
  margin: 0 auto;
  position: relative; }

/*aside*/
.buy-food-online__sidebar {
  width: 25%;
  min-width: 250px;
  float: left;
  margin: 47px 20px 0 0;
  box-sizing: border-box;
  border: 3px solid #964B00;
  font-family: "PT Sans Caption", sans-serif; }

.buy-food-online__form {
  padding: 10px; }

.buy-food-online__filter-heading {
  width: 100%;
  height: 40px;
  display: block;
  background-color: #964B00;
  font-size: 25px;
  color: #fff;
  line-height: 40px;
  text-align: center;
  font-weight: bold; }

.food-filter {
  display: none; }
  .food-filter__category {
    margin-bottom: 30px; }
  .food-filter__heading {
    color: #666;
    margin-bottom: 29px; }
  .food-filter__label {
    margin-bottom: 20px;
    display: block;
    cursor: pointer;
    position: relative;
    padding-left: 60px;
    font-weight: bold;
    margin: 15px auto;
    letter-spacing: .6px;
    font-family: "PT Sans Caption", sans-serif;
    color: black; }
    .food-filter__label:before {
      content: "";
      display: inline-block;
      width: 20px;
      height: 20px;
      position: absolute;
      left: 10px;
      bottom: -5px;
      border: 3px solid #964B00; }
  .food-filter__label-radio {
    margin-bottom: 20px;
    display: block;
    cursor: pointer;
    position: relative;
    padding-left: 60px;
    font-weight: bold;
    margin: 15px auto;
    letter-spacing: .6px;
    font-family: "PT Sans Caption", sans-serif;
    color: black; }
    .food-filter__label-radio:before {
      content: "";
      display: inline-block;
      width: 20px;
      height: 20px;
      position: absolute;
      left: 10px;
      bottom: -5px;
      border-radius: 50%;
      border: 3px solid #964B00; }

.food-filter__radio:checked + .food-filter__label-radio::before {
  content: "\2022";
  color: #964B00;
  font-size: 42px;
  line-height: 16px;
  text-align: center; }

.filter-group__label:before {
  content: "";
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-right: 10px;
  position: absolute;
  left: -19px;
  bottom: 14px;
  border: 2px solid black; }

.filter-group:checked + .filter-group__label::before {
  content: "\2022";
  color: black;
  font-size: 30px;
  text-align: center;
  line-height: 15px; }

.filter-group__label:hover,
.food-filter__label:hover {
  color: #743b09; }

.food-filter__beverage-type > .food-filter__label::before {
  border-radius: 50%; }

.clear-filter-btn {
  width: 160px;
  height: 40px;
  display: block;
  margin: 30px 0 10px;
  color: white;
  background-color: #E30000;
  line-height: 30px;
  font-weight: bold;
  border: none;
  border-radius: 20px;
  font-size: 20px; }
  .clear-filter-btn:hover {
    cursor: pointer;
    opacity: .6; }

.filter-group__label:first-child {
  color: red; }

.goods-filter__groups label:nth-child(5)::before {
  bottom: -4px; }

input:disabled + label {
  cursor: no-drop; }

/*food search*/
.buy-food-online__search-block {
  margin: 10px;
  position: relative; }

.search-block__search-field {
  width: 130px;
  position: relative;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  color: #964B00;
  background-color: white;
  background-position: 10px 10px;
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
  transition: width 0.4s ease-in-out; }

.search-block__search-field:focus {
  width: 100%; }

.search-block__search-icon {
  position: absolute;
  z-index: 1;
  top: 15px;
  left: 6px;
  width: 32px;
  height: 30px; }

/*food sorting*/
.buy-food-online__sort-block {
  float: right;
  margin-bottom: 20px; }

.sort-block__sorting {
  display: block;
  float: left;
  font-family: "PT Sans Caption", sans-serif;
  color: #964B00; }
  .sort-block__sorting:hover {
    cursor: pointer; }

.sort-block__option:hover {
  cursor: pointer; }

.sort-block__heading {
  display: block;
  float: left;
  margin-right: 15px;
  font-family: "PT Sans Caption", sans-serif;
  color: #964B00;
  font-weight: bold; }

/*food result*/
.food-wrapper__result {
  width: 70%;
  height: 96%;
  float: left;
  position: relative;
  text-transform: none;
  font-family: 'montserrat-bold', sans-serif;
  font-weight: bold;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: space-around;
  align-content: flex-start;
  flex-wrap: wrap;
  overflow-y: scroll; }
  .food-wrapper__result::-webkit-scrollbar {
    width: 1em;
    margin-right: 10px; }
  .food-wrapper__result::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px #964B00; }
  .food-wrapper__result::-webkit-scrollbar-thumb {
    background-color: #964B00;
    outline: 1px solid #964B00; }

.food-result {
  width: 270px;
  height: 320px;
  display: inline-block;
  margin: 15px 0 14px;
  box-shadow: -1px 2px 23px rgba(0, 0, 0, 0.44); }
  .food-result:nth-child(3) {
    margin-right: 0; }
  .food-result:hover {
    transform: scale(1.1);
    z-index: 1; }
  .food-result__name {
    font-size: 18px;
    margin: 10px 0 5px 15px; }
    .food-result__name:hover {
      color: #964B00;
      cursor: pointer; }
  .food-result__rating {
    display: inline-block; }
  .food-result__rating-block {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    height: 14px;
    font-size: 13px;
    margin: 10px 0 10px 15px; }
    .food-result__rating-block_stars-amount {
      display: block;
      height: 100%;
      width: 14px; }
    .food-result__rating-block:hover {
      color: #964B00;
      cursor: pointer; }
  .food-result__desc {
    font-size: 12px;
    margin: 10px 0 9px 15px;
    height: 28px;
    max-width: 245px;
    max-height: 28px;
    overflow: hidden; }
    .food-result__desc:hover {
      color: #964B00;
      cursor: pointer; }

.icon-star-rating {
  width: 15px; }

.food-result__pic {
  display: inline-block;
  width: 100%;
  height: 165px;
  position: relative;
  background-image: url(../img/menu-filter/ice-cream.jpg);
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover; }
  .food-result__pic_sorbet {
    background-image: url(../img/menu-filter/sorbet.jpg); }
  .food-result__pic_panna-cotta {
    background-image: url(../img/menu-filter/panna-cotta.jpg); }
  .food-result__pic_creme-brulee {
    background-image: url(../img/menu-filter/creme-brulee.jpg); }
  .food-result__pic_tiramisu {
    background-image: url(../img/menu-filter/tiramisu.jpg); }
  .food-result__pic_tortino {
    background-image: url(../img/menu-filter/tortino.jpg); }
  .food-result__pic_castagnaccio {
    background-image: url(../img/menu-filter/castagnaccio.jpg); }
  .food-result__pic_crostata {
    background-image: url(../img/menu-filter/crostata.jpg); }
  .food-result__pic_semifreddo {
    background-image: url(../img/menu-filter/semifreddo.jpg); }
  .food-result__pic_red-wine {
    background-image: url(../img/menu-filter/red-wine.jpg);
    background-size: contain; }

.food-result__pic_margherita {
  background-image: url(../img/menu-filter/margherita.jpg); }

.food-result__pic_napoletana {
  background-image: url(../img/menu-filter/napoletana.jpg); }

.food-result__pic_verdure {
  background-image: url(../img/menu-filter/verdure.jpg); }

.food-result__pic_diavola {
  background-image: url(../img/menu-filter/diavola.jpg); }

.food-result__pic_lasagna {
  background-image: url(../img/menu-filter/lasagna.jpg); }

.food-result__pic_tortelli {
  background-image: url(../img/menu-filter/tortelli.jpg); }

.food-result__pic_spaghetti {
  background-image: url(../img/menu-filter/spaghetti.jpg); }

.food-result__pic_frittura {
  background-image: url(../img/menu-filter/frittura.jpg); }

.food-result__pic_farro {
  background-image: url(../img/menu-filter/farro.jpg); }

.food-result__pic_minestrone {
  background-image: url(../img/menu-filter/minestrone.jpg); }

.food-result__pic_zuppa-di-pesce {
  background-image: url(../img/menu-filter/zuppa-di-pesce.jpg); }

.food-result__pic_americano {
  background-image: url(../img/menu-filter/americano.jpeg); }

.food-result__pic_spritz-royal {
  background-image: url(../img/menu-filter/spritz-royal.jpg); }

.food-result__pic_negroni {
  background-image: url(../img/menu-filter/negroni.jpg); }

.food-result__buy, .food-result__price {
  float: left;
  display: block; }

.food-result__price {
  width: 24%;
  height: 30px;
  margin-left: 18px;
  background-color: #fff;
  border: 2px solid #964B00;
  font-size: 13px;
  text-transform: uppercase;
  text-align: center;
  line-height: 30px; }

.food-result__buy {
  width: 54%;
  height: 34px;
  padding-left: 0;
  background-color: #964B00;
  color: white;
  border: none; }
  .food-result__buy:hover {
    opacity: .5;
    cursor: pointer; }

.goods-wrapper__pagination {
  clear: both;
  margin-left: 1px; }

.btn-pagination {
  display: inline-block;
  width: 43px;
  height: 43px;
  margin-right: 4px;
  text-align: center;
  background-color: black;
  color: white;
  line-height: 43px; }

.btn-pagination:nth-child(3) {
  margin-right: 3px; }

.goods-wrapper__pagination .btn-pagination {
  color: white;
  font-size: 13px; }

.goods-wrapper__pagination .btn-pagination__active {
  background-color: #fff;
  color: black; }

.btn-pagination:not(.btn-pagination__active):hover {
  background-color: #743b09;
  color: white; }

#page_navigation a {
  padding: 3px;
  border: 1px solid gray;
  margin: 2px;
  color: black;
  text-decoration: none; }

.active_page {
  background: darkblue;
  color: white !important; }

@media only screen and (min-width: 769px) and (max-width: 950px) {
  .our-online-menu {
    height: 1170px; }
  .buy-food-online__sidebar {
    width: 100%;
    margin: 0 auto;
    margin-bottom: 20px; }
  .buy-food-online__form {
    width: 100%; }
  .buy-food-online__search-block {
    clear: both; }
  .buy-food-online__sort-block {
    width: 300px;
    height: 30px;
    clear: both;
    margin-bottom: 0; }
  .food-filter__category {
    margin-bottom: 0;
    padding: 10px;
    float: left; }
  .food-filter__beverage-type {
    padding: 10px;
    float: left; }
  .clear-filter-btn {
    clear: both; }
  .food-wrapper__result {
    width: 100%; } }

@media only screen and (min-width: 480px) and (max-width: 768px) {
  .our-online-menu {
    height: 1170px; }
  .buy-food-online__sidebar {
    width: 100%;
    margin: 0 auto;
    margin-bottom: 20px; }
  .buy-food-online__form {
    width: 100%; }
  .buy-food-online__search-block {
    clear: both; }
  .buy-food-online__sort-block {
    width: 300px;
    height: 30px;
    clear: both;
    margin-bottom: 0; }
  .food-filter__category {
    margin-bottom: 0;
    padding: 10px;
    float: left; }
  .food-filter__beverage-type {
    padding: 10px;
    float: left; }
  .clear-filter-btn {
    clear: both; }
  .food-wrapper__result {
    width: 100%;
    height: 42%; } }

@media only screen and (min-width: 320px) and (max-width: 479px) {
  .our-online-menu {
    height: 1170px; }
  .buy-food-online__sidebar {
    width: 100%;
    margin: 0 auto;
    margin-bottom: 10px; }
  .buy-food-online__form {
    width: 100%; }
  .buy-food-online__search-block {
    clear: both; }
  .buy-food-online__sort-block {
    width: 300px;
    height: 70px;
    margin: 10px auto;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    float: none; }
  .sort-block__heading {
    font-size: 25px; }
  .sort-block__sorting {
    font-size: 20px;
    height: 30px; }
  .food-filter__category {
    margin-bottom: 0;
    padding: 10px;
    float: left; }
  .food-filter__beverage-type {
    padding: 10px;
    float: left; }
  .clear-filter-btn {
    clear: both; }
  .food-wrapper__result {
    width: 100%;
    height: 42%; } }
