$main-bg-color: #2a2d32;
$main-font: 'Ubuntu', sans-serif;
$hover-color-menu: #248cec;
$hover-color: #f4b60d;
$footer-a-color: #797a7c;

* {
  margin: 0;
  padding: 0;
}

a {
  color: white;
  text-decoration: none;
  display: block;
}

li {
  list-style: none;
}

//top
.wrapper-top {
  width: 1160px;
  height: 100px;
  margin: 0 auto;
  clear: both;
}

//main logo
.main-logo {
  display: block;
  width: 70%;
  height: 115px;
  float: left;
}

.slogan {
  font-family: $main-font;
  font-size: 30px;
  color: #434343;
  font-weight: bold;
  margin: 36px 0 -4px 0;
}

.subslogan {
  text-transform: uppercase;
  font-family: $main-font;
  font-size: 12px;
  color:#8c8c8c;
  letter-spacing: 3px;
  margin-left: 57px;
}

.logo-top {
  display: block;
  float: left;
  width: 52px;
  height: 36px;
  background: 0px -115px url(../img/sprite.png);
}

.social-network {

  &__block {
    float: right;
    width: 30%;
    height: 115px;
  }

  &__list {
    width: 150px;
    margin: 54px 0 0 196px;
  }

  &__list-item {
    display: inline-block;
  }

  &__list-link {
    display: block;
    height: 16px;
    width: 13px;
    background-image: url(../img/social-sprite.png);
    transition: .5s all;
  }
}

.facebook {
  margin-right: 11px;

  &:hover {
    background-position: 0 -19px;
  }
}

.twitter {
  width: 20px;
  background-position: -10px 0;
  margin-right: 8px;

  &:hover {
    background-position: -10px -21px;
  }
}

.rss {
  width: 22px;
  background-position: -30px 0;
  margin-right: 10px;

  &:hover {
    background-position: -30px -21px;
  }
}

.linkedin {
  width: 20px;
  background-position: -58px 0;
  margin-right: 9px;

  &:hover {
    background-position: -58px -19px;
  }
}

.skype {
  width: 17px;
  background-position: 17px 0;

  &:hover {
    background-position: 17px -20px;
  }
}

.menu-top {
  float: left;
  clear: both;
  width: 593px;
  height: 57px;
  background-color: $main-bg-color;
  margin-bottom: 41px;
  &__item {
    display: inline-block;
    width: 19%;
    border-right: 1px solid #181a1d;
    text-align: center;
  }
  &__link {
    text-transform: uppercase;
    line-height: 57px;
    font-family: $main-font;
    font-size: 13px;

    &:hover {
      color: $hover-color;
    }
  }
}

.search-block {
  float: right;
  width: 567px;
  height: 57px;
  background-color: $main-bg-color;
}

.search-box {
  height: 40px;
  width: 240px;
  position: relative;
  float: right;
  line-height: 57px;
  border: 2px solid #171b1e;
  margin: 7px 10px 0 0;

  &__input {
    background: no-repeat 95% 10px url('../img/search.png');
    background-color: #35383d;
    float: left;
    width: 200px;
    height: 40px;
    padding-right: 40px;
    color: #616568;
    border: none;
    text-indent: 10px;
  }
}

//slider
.jcarousel-wrapper {
    margin: 0 auto;
    width: 1160px;
    height: 470px;
    clear: both;
    position: relative;
}

/** Carousel **/

.jcarousel {
    overflow: hidden;
    width: 1160px;
    height: 470px;

    &-list {
      width: 20000em;
      position: relative;
      list-style: none;
      margin: 0;
      padding: 0;

      &__item {
          float: left;
      }
    }
}

/** Carousel Pagination **/

.jcarousel-pagination {
    position: absolute;
    bottom: 10px;
    left: 50%;
    a {
      text-decoration: none;
      display: inline-block;
      font-size: 11px;
      line-height: 14px;
      min-width: 14px;
      background: white;
      color: #4E443C;
      padding: 3px;
      text-align: center;
      margin-right: 2px;
      opacity: .75;
    }
}

.jcarousel-pagination a.active {
    background: #4E443C;
    color: #fff;
    opacity: 1;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.75);
}

//articles
.wrapper-articles {
  @extend .wrapper-top;
  height: 338px;
  font-family: $main-font;
  clear: both;
  a {
    color: black;
    display: block;
  }
}

.article-section {
  width: 33%;
  float: left;
}

.article {

  &__number {
    float: left;
    width: 90px;
    margin-top: 55px;
    font-size: 86px;
    color: #e9e9ea;
  }

  &__content {
    float: right;
    width: 260px;
    margin: 70px -2px 0 0;
  }

  &__heading {
    clear: both;
    margin-bottom: 21px;
  }

  &__text {
    margin-bottom: 30px;
    color: #8a8a8a;
    font-size: 14px;
  }
  &__icon {
    display: block;
    background: 0px -73px url(../img/sprite.png);
    height: 32px;
    width: 32px;
    float: left;
    margin-bottom: 15px;

    &_icon2 {
      background-position: -34px -73px;
      width: 35px;
    }

    &_icon3 {
      background-position: -74px -73px;
      width: 34px;
    }
  }
}

.read-more {
  font-size: 13px;
  font-weight: bold;

  &:hover {
    color: $hover-color-menu;

    & .read-more__arrow {
      background-position: -62px -130px;
    }
  }

  &__text {
    display: inline-block;
    float: left;
  }

  &__arrow {
    width: 10px;
    height: 9px;
    background: -62px -115px url(../img/sprite.png);
    margin: 3px 10px;
    display: inline-block;
  }
}

//services

.services-section {
  @extend .wrapper-top;
  width: 100%;
  height: 504px;
  background-color: $main-bg-color;
}

.wrapper-services {
  width: 1160px;
  height: 100%;
  margin: 0 auto;
  color: white;
  font-family: $main-font;
}

.services {
    &__heading {
      font-size: 25px;
      margin-bottom: 52px;
      padding-top: 42px;
    }
}

.service-block {
  position: relative;
  width: 260px;
  height: 312px;
  float: left;

  &__service1 {
    margin: 0 40px 0 -1px;
  }

  &__service2, &__service3 {
    margin-right: 40px;
  }

  &__subheading {
    margin: 32px 0 0 -14px;
    text-align: center;
    font-size: 18px;

    &:hover {
      color: $hover-color;
      cursor: pointer;
    }
  }

  &__picture {
    width: 260px;
    height: 260px;
    background-image: url(../img/services.png);
    background-position: -170px 0;
    position: relative;

    &_picture1 {

    }

    &_picture2 {
        background-position: -490px 0;
    }

    &_picture3 {
        background-position: -755px 0;
    }

    &_picture4 {
        background-position: -1017px 0;
    }
  }

  &__overlay {
    height: 260px;
    width: 260px;
    background-color: #248cec;
    opacity: .9;
    display: none;
  }
}

.overlay__add {
  color: white;
  font-size: 60px;
  position: absolute;
  top: 100px;
  left: 110px;
}

.service-block__picture_picture1:hover .service-block__overlay_overlay1,
.service-block__picture_picture2:hover .service-block__overlay_overlay2,
.service-block__picture_picture3:hover .service-block__overlay_overlay3,
.service-block__picture_picture4:hover .service-block__overlay_overlay4 {
  display: block;
  cursor: pointer;
}

.service-block__picture_picture1:hover + .service-block__subheading_subheading1,
.service-block__picture_picture2:hover + .service-block__subheading_subheading2,
.service-block__picture_picture3:hover + .service-block__subheading_subheading3,
.service-block__picture_picture4:hover + .service-block__subheading_subheading4 {
  color: $hover-color;
  cursor: pointer;
}

//news

.wrapper-news {
  @extend .wrapper-services;
  height: 540px;
  background-color: #f7f7f7;
}

.news-section {
  @extend .wrapper-top;
  height: 540px;
}

.news-block {
  float: left;
  height: 100%;
  width: 50%;
  font-family: $main-font;

  &__heading {
    margin: 58px 0 46px 2px;
    font-size: 24px;
    font-weight: bold;
    color: #000;
  }

  &:nth-child(2) {
    margin-bottom: 10px;
  }
  .news-img {
    width: 151px;
    height: 151px;
    display: block;
    float: left;
    background-image: url(../img/news.jpg);
    clear: both;
    margin: 0 32px 28px 0;
  }

  &__post {
    position: relative;
  }
}

.post {

  &__month-square {
    width: 40px;
    height: 40px;
    background-color: $hover-color-menu;
    position: absolute;
    top: 12px;
    left: -18px;

    &_post1 {
      top: 12px;
    }

    &_post2 {
      top: 190px;
    }
  }

  &__month {
    position: relative;
    top: 13px;
    left: 0;
    color: #f0f7fe;
    font-size: 13px;
    margin-left: 11px;

    &_post2 {
        top: 192px;
    }
  }

  &__date-square {
    @extend .post__month-square;
    background-color: $hover-color;
    top: 52px;

    &_post2 {
      top: 230px;
    }
  }

  &__date {
    @extend .post__month;
    font-size: 16px;
    color: #2a2b2e;
    font-weight: bold;
  }

  &__text {
      float: left;
      width: 65%;
      color: #8a8a8a;
  }

  &__title {
    text-transform: capitalize;

    &:hover {
      color: $hover-color-menu;
      cursor: pointer;
    }
  }

  &__comments, &__author {
    color: $hover-color-menu;
    cursor: pointer;
  }
}

.img-post2 {
  background-position: 0 150px;
}

.banner-place {
  @extend .news-section;
  width: 50%;
  clear: none;
  float: left;
}

//accordeon
.ac-container{
	width: 562px;
	margin: -2px 18px 30px 21px;
	text-align: left;
  label{
    display: block;
    position: relative;
    height: 39px;
    margin-bottom: -5px;
    padding: 0 20px;
    padding-left: 25px;
    border: 1px solid #e8e8e8;
    cursor: pointer;
    z-index: 20;
    background-color: white;
    line-height: 39px;
    text-transform: uppercase;
    text-indent: 46px;
    font-family: 'Ubuntu', sans-serif;
    font-size: 13px;
    font-weight: bold;
    color: #2a2d32;
  }
}

.ac-container label:hover{
	background: #fff;

}
.ac-container input:checked + label,
.ac-container input:checked + label:hover{
	background: $hover-color;
	color: #fefaef;
  margin-bottom: 0;
  border: none;
}

.ac-container label::before {
	content: '';
  display: block;
	position: absolute;
	width: 39px;
	height: 39px;
	right: 519px;
	top: 0px;
	background: transparent url(../img/open.jpg) 0 0 no-repeat;
  border-right: 2px solid #e8e8e8;
}

.ac-container input:checked + label::before{
  border: none;
  border-right: 1px solid #f6c53d;
	background: url(../img/close.jpg) 0 0 no-repeat;
}

.ac-container{
  input{
	  display: none;
  }
  article{
  	overflow: hidden;
  	height: 0px;
  	position: relative;
  	z-index: 10;
  	-webkit-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
  	-moz-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
  	-o-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
  	-ms-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
  	transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
  }
  article p{
  	color: #8a8a8a;
  	line-height: 23px;
  	font-size: 14px;
  	padding: 20px;
    font-weight: 400;
  }
}
.ac-container input:checked ~ article{
	-webkit-transition: height 0.5s ease-in-out, box-shadow 0.1s linear;
	-moz-transition: height 0.5s ease-in-out, box-shadow 0.1s linear;
	-o-transition: height 0.5s ease-in-out, box-shadow 0.1s linear;
	-ms-transition: height 0.5s ease-in-out, box-shadow 0.1s linear;
	transition: height 0.5s ease-in-out, box-shadow 0.1s linear;
}

.ac-container input:checked ~ article.ac-medium{
	height: 180px;
}

//bottom logos

.wrapper-logos {
  @extend .wrapper-top;
  height: 240px;
}

.logo1 {
  display: block;
  float: left;
  height: 62px;
  width: 143px;
  background-image: url(../img/bot_logos.png);
  margin-top: 87px;
  opacity: 0.65;
  margin-right: 45px;
}

.logo2 {
  @extend .logo1;
  background-position: -148px 0;
  margin: 90px 68px 0 0;

}

.logo3 {
  @extend .logo1;
  width: 184px;
  background-position: -295px 0;
  margin: 90px 45px 0 0;
}

.logo4 {
  @extend .logo1;
  background-position: -480px 0;
  margin: 90px 60px 0 0;
}

.logo5 {
  @extend .logo1;
  background-position: -628px 0;
  margin-right: 0;
}

.logo6 {
  @extend .logo1;
  background-position: -757px 0;
  margin-right: 0;

}

.footer {
  @extend .wrapper-services;
  width: 100%;
  height: 387px;
  clear: both;
  font-family: $main-font;
  background-color: $main-bg-color;

  &__menu-block {
    @extend .wrapper-services;
    height: 325px;
    padding-top: 30px;
  }

  &__menu {
    width: 260px;
    height: 100%;
    float: left;
    margin-right: 42px;

    &_menu2 {
      margin-right: 41px;
    }

    &_menu3 {
      margin-right: 37px;
    }

    &_menu4 {
      margin-right: 0px;
    }
  }
}

.menu {

  &__heading {
    text-transform: uppercase;
    font-size: 15px;
    margin: 18px 0 33px 0;
  }

  &-list {

    &__item {
      border-bottom: 1px solid #393c40;

      &:last-child {
        border-bottom: none;
      }
    }

    &__link {
      color: $footer-a-color;
      font-size: 13px;
      padding: 10px 0 11px 0;

      &:hover {
        color: $hover-color-menu;
      }
    }
  }
}

//contacts
.wrapper-contacts {
  @extend .footer;
  background-color: #35383c;
  height: 60px;
}

.contacts-block {
  @extend .footer__menu-block;
  padding-top: 0;
  height: 100%;

  &__text {
    line-height: 60px;
    color: $footer-a-color;
    font-size: 12px;
    float: left;
  }

  :nth-child(2) {
    margin: 0 36px 0 3px;
  }

  :nth-child(4) {
    margin-right: 41px;
  }

  :last-child {
    float: right;
  }
}

.contacts {

  &__location {
    background: -116px -73px url(../img/sprite.png);
    width: 13px;
    height: 16px;
    float: left;
    margin: 23px 7px 0 3px;
  }

  &__phone {
    @extend .contacts__location;
    background-position: -150px -73px;
    width: 12px;
  }

  &__email {
    @extend .contacts__location;
    background-position: -131px -73px;
    width: 18px;
    margin-right: 10px;
  }
}
