$wrapper-width: 90%;
$max-wrapper-width: 1440px;
$main-font: 'PT Sans Caption', sans-serif;
$heading-font: 'Cookie', cursive;
$menu-text-color: #666;
$text-hover-color: #964B00;
$button-color: #E30000;
$input-focus-color: #27f434;
@import url('https://fonts.googleapis.com/css?family=Cookie');
@import url('https://fonts.googleapis.com/css?family=PT+Sans+Caption');

