* {
  margin: 0;
  padding: 0;
}

.wrapper {
  width: 1280px;
  height: auto;
  background-image: url(../img/background.png);
}

.content_all {
  width: 1000px;
  height: 1000px;
  margin: auto;
  background-color: white;
  box-shadow: 0 0 20px black;
}

li {
  list-style: none;
}

.menu a {
  text-decoration: none;
  color: white;
  line-height: 30px;
  font-style: Calibri;
  display: block;
  height: 100%;
}


.menu_item:hover {
  background-color: #333333;
}



/*HEADER*/
.contacts {
  float: right;
  margin: 10px 25px 0 0;
  color: #5fa5bb;
  padding-bottom: 10px;
  font-size: 13px;
}


.logo {
  float: left;
  margin: 10px 0 0 10px;
}

.countries {
  position: relative;
  overflow: hidden;
  top: 115px;
  left: 335px;

}

ul .countries {
  width: 342px;
}

.countries a {
  font-size: 12px;
  padding-right: 16px;
  margin-left: 8px;
}

.countries .center {
  padding-right: 0px;
  margin-left: 1px;
}


.countries .menu_item {

  width: auto;

}


/*MENU*/
.menu {
  position: relative;
  height: 30px;
  background-color: #333333;
  border-bottom: 2px solid black;
  box-shadow: 0 0 10px #555555;
  z-index: 2;

}
ul .menu_item {
  float: left;
  width: 140px;
  height: 30px;
  padding: 0px auto;
  position: relative;
  z-index: 1;
  text-align: center;
}

ul.menu .left {
  text-align: left;
  padding-left: 10px;
  width: 130px;
}


ul .menu_item ul {
  display:none;
  position: absolute;
  left: 0;
  top: 30px;
  margin: 0;
  width: 140px;
  background-color: #333333;
  z-index: 1;
}

ul .menu_item .submenu {
  float: none;
  display: block;
  background: none;
  width: 150px;
  padding-left:10px;
}

.menu li:hover ul {
  display: block;
}










/*SIDEBAR*/
.fon {
  width: 1000px;
  overflow: hidden;

}


.sidebar {
  width: 20%;
  background-color: #edeef0;
  float: left;
  height: auto;
  color: #7d837f;
  border-right: 1px solid lightgrey;
  padding-bottom: 20000px;
  margin-bottom: -20000px;
}

.sidebar li {
  padding: 5px;
}

.content {
  width: 60%;
  background-color: black;
  float: left;

}


.news {
  width: 20%;
  background-color: #edeef0;
  float: right;
  height: auto;
  color: #7d837f;
  border-left: 1px solid lightgrey;
  padding-bottom: 20000px;
  margin-bottom: -20000px;
}

.news li {
  padding: 5px;
}

.bold {
  color: #424c43;
  text-align: center;
  font-weight: bold;
  font-size: 22px;
  padding-top: 7px;
}


/*FOOTER*/
footer {
  color: white;
  text-align: center;
  padding: 10px;
}
